extends ../layouts/layout.pug
block main-content
    .buy-product__banner
    section.buy-product-header   
        div.page-title.container
            h1 Beautiful A4 booklets in your choice of 6 paper weights. from 
                <a href="#">£245.70</a>
                    h1  including delivery
                    a(href="#") Product 
                    span(style="color: gray") / 
                    a(href="#") Booklets - A4
    section.buy-product
        .buy-product__inner.container
            div.buy-product__block
                .content__block
                    p.header-containt A4 is one of our most popular booklet sizes. Choose your paper weight and add an additional thick gloss, matt or StarMarque laminated thick cover.
                    div.hrit
                        p.text Show Less  <i class="fas fa-lg fa-plus-square" style="padding-right: 0"></i>
                    .buy-product__img
                        img(src="../../../dist/assets/images/buyProduct/2.jpg", alt="")
                .content__block                
                    div.featured 
                        div.header-block
                            P <i class="fas fa-star"></i> Featured
                            div.product_block
                                div.block_img 
                                    img(src="../../../dist/assets/images/buyProduct/3.png", alt="")
                                div.block-text 
                                    a(href="#") 
                                        h3 A4 Landscape Booklets : 170gsm Silk
                                    p 150gsm Gloss
                                    p form
                                        span.price £254.70
                                    a(href="#") View details >
                            div.product_block
                                div.block_img 
                                    img(src="../../../dist/assets/images/buyProduct/4.png", alt="")
                                div.block-text 
                                    a(href="#") 
                                        h3 A4 Landscape Booklets : 170gsm Silk
                                    p 150gsm Gloss
                                    p form
                                        span.price £254.70
                                    a(href="#") View details >     
            div.buy-product-right__block    
                .buy-product__content
                    .show
                        p Hiển thị
                        .show__check
                            .show__check_-block
                                input(type="radio" value="Best Seller" name="Best Seller") 
                                label(for="") <i class="fas fa-check"></i> Sản phẩm bán chạy nhất
                            .show__check_-block
                                input(type="radio" value="Best Seller" name="Best Seller") 
                                label(for="") các lựa chọn khác
                    .choose__check
                        .choose__block
                            p <i class="fas fa-star"></i> Chọn kích thước
                            .select__block
                                select(name="")
                                    option(value="#") Danh Thiếp (55 x 85mm)
                                .select__img
                                    img(src="../../../dist/assets/images/buyProduct/BOOKA4_1.png", alt="")
                        .choose__block
                            p <i class="fa fa-fw fa-tint"></i> Chọn màu
                            .select__block
                                select(name="")
                                    option(value="#") màu sách RGB
                        .choose__block.reverse
                            .circle
                                .block__img
                                    img(src="../../../dist/assets/images/buyProduct/1.jpg", alt="")
                                .block__img
                                    img(src="../../../dist/assets/images/buyProduct/1.jpg", alt="")
                            .btn
                                a(href="#") Giá <i class="fa fa-arrow-circle-down"></i>
                    .choose__check
                        .choose__block
                            p <i class="fa fa-fw fa-file"></i> Chọn chất liệu
                            .select__block
                                select(name="")
                                    option(value="#") Bìa cứng
                        .choose__block
                            p <i class="fa fa-fw fa-signal"></i> Độ dày
                            .select__block
                                select(name="")
                                    option(value="#") Vừa phải
                        .choose__block
                            p <i class="fa fa-fw fa-leaf"></i> Chọn tính chất in
                            .select__block
                                select(name="")
                                    option(value="#") In nhiệt
                    .radio__check
                        p <i class="fa fa-fw fa-cog"></i> Options
                        .box-of__radio
                            .box__radio
                                input(type="checkbox") 
                                label(for="") 2 Sets
                            .box__radio
                                input(type="checkbox") 
                                label(for="") 3 Sets
                            .box__radio
                                input(type="checkbox") 
                                label(for="") 4 Sets
                            .box__radio
                                input(type="checkbox") 
                                label(for="") 5 Sets
                            .box__radio
                                input(type="checkbox") 
                                label(for="") Thay đổi khung
                            .box__radio
                                input(type="checkbox") 
                                label(for="") Cắt viền tròn
                include ../patials/tableBuyProduct.pug

                            




