extends ../layouts/layout.pug
block main-content
    section.faq
        .faq-title
            h2.container Hỏi và Đáp
        .faq-content
            .container
                h2.content-title Các câu hỏi thường gặp
                p Đây là những câu hỏi thường gặp về printing.com
                p Từ vận chuyển tới thiết kế, sản phẩm cho tới đóng gói, phần FAQ phía dưới sẽ giúp bạn<br>Chúng tôi hi vọng bạn sẽ tìm được câu trả lời bạn cần,<br> nhưng nếu bạn không thể tìm được những gì bạn cần. Chỉ cần hỏi chúng tôi.
                section.faq-accordion
                    .accordion-item
                        label Câu hỏi thường gặp
                        .accordion-content
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                    .accordion-item
                        label Sản phẩm và Dịch vụ
                        .accordion-content
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                    .accordion-item
                        label Đặt hàng trực tuyến
                        .accordion-content
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                    .accordion-item
                        label Thanh toán và Hóa đơn
                        .accordion-content
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                            .accordion-content-item
                                h4 Làm sao tôi có thể thay đổi thông tin chi tiết?
                                p When you sign in to your account, click the Settings app. Here you can change your password, contact details, and even how you’d prefer us to contact you. If you forget your password, don’t worry it happens to all of us! You can get a reminder by clicking the forgotten your username or password link on the sign in page.
                .thebigofthing
                    .callout    
                        h3.callout-text Không thể tìm thấy những gì bạn cần? Gọi này 19001080
                        button(type="button") Liên hệ với chúng tôi!