extends ../layouts/layout.pug
block main-content
    include ../patials/search.pug
    include ../patials/trusted.pug
    include ../patials/bestSelling.pug
    include ../patials/newProduct.pug
    include ../patials/proper.pug
    include ../patials/choose.pug
    include ../patials/theBigOfThing.pug
    include ../patials/lookingFor.pug
    include ../patials/register.pug
    include ../patials/payment.pug
    include ../patials/order-online.pug
    include ../patials/tableBuyProduct.pug

    //- include ../patials/animates.pug

    //- block about
        //- include ../patials/about.pug
        //- include ../patials/services.pug
        //- include ../patials/lookfor.pug
        include ../patials/form.pug

    
    
