extends ../layouts/layout.pug
block main-content
    .info-product
        header.title-header-infoproduct
            .container
                h1.style-h1 Menu Giấy
                ul.style-ul-first
                    li
                        a(href="#") Sản phẩm
                    li
                        a(href="#").active Menu Giấy


        section.wrap-top
            .container
                .row
                    .col-md-6
                        .pick
                            .row
                                .col-sm-12
                                    .heading-pick
                                        h2 Menu Giấy
                                    .option-content
                                        .style-option
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-tint
                                                        | kích thước sản phẩm:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose
                                                                img(src="../../../dist/assets/images/info-product/menugiay3.png", alt="").style-img
                                                                | Chọn kích thước
                                                                span.small  (tùy chọn)
                                                            span.bs-caret
                                                                span.caret    
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-star
                                                        | Chọn chất liệu in:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose
                                                                img(src="../../../dist/assets/images/info-product/menugiay4.png", alt="").style-img
                                                                | Chọn chất liệu
                                                                span.small  (tùy chọn)
                                                            span.bs-caret
                                                                span.caret    
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-calendar
                                                        |   Thời gian giao hàng:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose 02/09/2019 
                                                                span.small (3 ngày làm việc)
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-file
                                                        |   Số lượng:
                
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose £60.00/20 cái
                                                            
                                                            span.bs-caret
                                                                span.caret
                                .col-sm-12
                                    .edit-below-select
                                        span.final-price
                                            span.real-price £60.00

                                        .free-delivery-container
                                            span.style-free-delivery  Giao hàng tận nơi!
                                        a.add-basket-btn(href="#")
                                            | Thêm vào giỏ 
                                            i.fa.fa-arrow-circle-right

                                        span.VAT  Chưa bao gồm VAT
                                        a(href="#").all-price-size Xem toàn bộ giá và size
                                        a(href="#").all-price-size Xem thông số kỹ thuật cho mã sản phẩm IGDBD3

                    .col-md-6
                        .wrap-img
                            .product-img
                                img(src="../../../dist/assets/images/info-product/menugiay1.jpg", alt="").style-prd-img
                            .product-small-img
                                img(src="../../../dist/assets/images/info-product/menugiay2.jpg", alt="").style-prd-sm-img
                                img(src="../../../dist/assets/images/info-product/menugiay3.png", alt="").style-prd-sm-img


        section.parallax
            .parallax-content
                span.stye-parallax   Nhận sản phẩm vào ngày 04/09/2019 khi bạn thanh toán trong vòng 23 giờ 47 phút

        section.choose-tab
            .container
                .tab
                    ul.nav-tab
                        li.active
                            a(href="#")
                                i.fa.fa-info-circle
                                |Tóm tắt sản phẩm
						
                        li
                            a(href="#")
                                i.fa.fa-download
                                |Tải về

                        li
                            a(href="#")
                                i.fa.fa-image
                                |Chỉnh sửa thiết kế
						
                        li
                            a(href="#")
                                i.fa.fa-list-ul
                                |Đặc điểm kỹ thuật   
                    .tab-content
                        .tab-page
                            .row
                                .col-lg-8
                                    |Mang vẻ ngoài bắt mắt , thu hút người nhìn
                                    br
                                    br
                                    |Đồng bộ với phong cách thiết kế của cửa hàng từ màu sắc , logo.
                                    br
                                    br
                                    |Có tính thẩm mĩ cao.
        

        section.banner-cta
            h2 Đây không phải sản phẩm bạn muốn tìm? Tìm kiếm khác 
                a(href="#") Các loại phụ kiện >

        section.table-price
            .container
                .wrap-img-price
                    img(src="../../../dist/assets/images/info-product/menugiay2.jpg", alt="").style-img-price2
                    img(src="../../../dist/assets/images/info-product/menugiay3.png", alt="").style-img-price2
                .title-price
                    h2 Giá cho Menu giấy
                div(style="margin-top: 50px")
                .table-heading
                    table
                        thead
                            tr
                                th Kích thước/Phong cách
                                th
                                th 250
                                th 500
                                th 1.000
                                th 2.000
                                th 5.000
                                th 10.000
                                th.last-child
                                    select
                                        option(value="10") 750
                                        option(value="11") 1.250
                                        option(value="12") 1.500
                                        option(value="13") 1.750
                                        option(value="14") 2.000
                                        option(value="15") 2.500
                        tbody
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                            
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                            
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                            
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00

                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00