extends ../layouts/layout.pug
block main-content
    .info-product
        header.title-header-infoproduct
            .container
                h1.style-h1 Túi đựng thực phẩm
                ul.style-ul-first
                    li
                        a(href="#") Sản phẩm
                    li
                        a(href="#") Bao bì & đóng gói
                    li
                        a(href="#").active Túi đựng thực phẩm


        section.wrap-top
            .container
                .row
                    .col-md-6
                        .pick
                            .row
                                .col-sm-12
                                    .heading-pick
                                        h2 Túi giấy đựng thực phẩm
                                    .option-content
                                        .style-option
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-tint
                                                        | Màu sắc:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose
                                                                img(src="../../../dist/assets/images/info-product/img1.png", alt="").style-img
                                                                | Đỏ chấm bi

                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-leaf
                                                        |   Thành phẩm:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose Túi giấy bọc thực phẩm
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-calendar
                                                        |   Thời gian giao hàng:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose 02/09/2019 
                                                                span.small (3 ngày làm việc)
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-file
                                                        |   Số lượng:
                
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose  £0.28/1 cái
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                    
                                            .more-detail
                                                span.left-detail
                                                
                                                    |Chỉ nhận đơn hàng từ 100 sản phẩm

                                .col-sm-12
                                    .edit-below-select
                                        span.final-price
                                            span.real-price £0.28
                             

                                        .free-delivery-container
                                            span.style-free-delivery  Giao hàng tận nơi!
                                        a.add-basket-btn(href="#")
                                            | Thêm vào giỏ
                                            i.fa.fa-arrow-circle-right

                                        span.VAT  Chưa bao gồm VAT
                                        a(href="#").all-price-size Xem toàn bộ giá và size
                                        a(href="#").all-price-size Xem thông số kỹ thuật cho mã sản phẩm MMCNLA

                    .col-md-6
                        .wrap-img
                            .product-img
                                img(src="../../../dist/assets/images/info-product/bocthucpham2.jpg", alt="").style-prd-img
                            .product-small-img
                                img(src="../../../dist/assets/images/info-product/bocthucpham1.jpg", alt="").style-prd-sm-img
                                img(src="../../../dist/assets/images/info-product/bocthucpham2.jpg", alt="").style-prd-sm-img


        section.parallax
            .parallax-content
                span.stye-parallax  Nhận sản phẩm vào ngày 04/09/2019 khi bạn thanh toán trong vòng 1 giờ 18 phút


        section.choose-tab
            .container
                .tab
                    ul.nav-tab
                        li.active
                            a(href="#")
                                i.fa.fa-info-circle
                                |Tóm tắt sản phẩm
						
                        li
                            a(href="#")
                                i.fa.fa-upload
                                |Tải tệp lên
						
                        li
                            a(href="#")
                                    i.fa.fa-list-ul
                                    |Đặc điểm kỹ thuật
                    .tab-content
                        .tab-page
                            .row
                                .col-lg-8
                                    |Chúng ta đang dần thay đổi hướng đến một thế giới xanh sạch. Việc sử dụng túi giấy để đựng thực phẩm thay cho bao bì ni lông đang là xu hướng hiện nay. 
                                    br
                                    br
                                    |Mang lại sự an toàn cho bạn, thực phẩm của bạn và sự an toàn cho môi trường.

                                           

        section.banner-cta
            h2 Đây không phải sản phẩm bạn muốn tìm? Tìm kiếm khác 
                a(href="#") Bao bì & đóng gói >

        section.table-price
            .container
                .wrap-img-price
                    img(src="../../../dist/assets/images/info-product/bocthucpham1.jpg", alt="").style-img-price2
                    img(src="../../../dist/assets/images/info-product/bocthucpham2.jpg", alt="").style-img-price2
                .title-price
                    h2 Giá cho bao bì
            
                .table-heading
                    table
                        thead
                            tr
                                th Kích thước/Phong cách
                                th
                                th 1
                                th 2
                                th 3
                                th 4
                                th 5
                                th 6
                                th 7
                                th 8
                                th 9
                                th.last-child
                                    select
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                        option(value="13") 13
                                        option(value="14") 14
                                        option(value="15") 15
                        tbody
                            tr
                                td Seating cube
                                td("colspan"="12")
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                                td
                                    p £155.00
                                    span £164.00
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    span.colour-area No graphic
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td
                                td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                            tr
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00

                