extends ../layouts/layout.pug
block main-content
    .info-product
        header.title-header-infoproduct
            .container
                h1.style-h1 Logo
                ul.style-ul-first
                    li
                        a(href="#") Sản phẩm
                    li
                        a(href="#").active Logo


        section.wrap-top
            .container
                .row
                    .col-md-6
                        .pick
                            .row
                                .col-sm-12
                                    .heading-pick
                                        h2 Thiết kế Logo 
                                    .option-content
                                        .style-option
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-tint
                                                        | Màu sắc:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose
                                                                img(src="../../../dist/assets/images/info-product/img1.png", alt="").style-img
                                                                | vàng :: đen

                                                            span.bs-caret
                                                                span.caret

                                                
                                                                
                            
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-leaf
                                                        |   Thành phẩm:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose Logo đủ mọi kích cỡ
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-calendar
                                                        |   Thời gian giao hàng:
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose 02/09/2019 
                                                                span.small (3 ngày làm việc)
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                
                                            .col-sm-12
                                                .form-group
                                                    label(for="").control-label
                                                        i.fa.fa-fw.fa-file
                                                        |   Số lượng:
                
                                                    .group-select
                                                        button.click-choose
                                                            span.style-choose  £46.90/trọn gói
                                                            
                                                            span.bs-caret
                                                                span.caret
                                                    
                                      
                                .col-sm-12
                                    .edit-below-select
                                        span.final-price
                                            span.bonus-price £46.900
                                            span.old-price £50.50

                                        .free-delivery-container
                                            span.style-free-delivery  Giao hàng tận nơi!
                                        a.add-basket-btn(href="#")
                                            | Thêm vào giỏ
                                            i.fa.fa-arrow-circle-right

                                        span.VAT  Chưa bao gồm VAT
                                        a(href="#").all-price-size Xem toàn bộ giá và size
                                        a(href="#").all-price-size Xem thông số kỹ thuật cho mã sản phẩm DASDREW

                    .col-md-6
                        .wrap-img
                            .product-img
                                img(src="../../../dist/assets/images/info-product/img9.jpg", alt="").style-prd-img
                            .product-small-img
                                img(src="../../../dist/assets/images/info-product/img9.jpg", alt="").style-prd-sm-img
                                img(src="../../../dist/assets/images/info-product/img10.jpg", alt="").style-prd-sm-img


        section.parallax
            .parallax-content
                span.stye-parallax  Nhận sản phẩm vào ngày 02/09/2019 khi bạn thanh toán trong vòng 1 giờ 18 phút


        section.choose-tab
            .container
                .tab
                    ul.nav-tab
                        li.active
                            a(href="#")
                                i.fa.fa-info-circle
                                |Tóm tắt sản phẩm
						
                        li
                            a(href="#")
                                i.fa.fa-upload
                                |Tải tệp lên
						
                        li
                            a(href="#")
                                    i.fa.fa-list-ul
                                    |Đặc điểm kỹ thuật
                    .tab-content
                        .tab-page
                            .row
                                .col-lg-8
                                    |Mọi thương hiệu nên có 1 logo riêng
                                    br
                                    br
                                    |Logo tạo nên đẳng cấp

                                           

        section.banner-cta
            h2 Đây không phải sản phẩm bạn muốn tìm? Tìm kiếm khác 
                a(href="#") Logo & thương hiệu >

        section.table-price
            .container
                .wrap-img-price
                    img(src="../../../dist/assets/images/info-product/img9.jpg", alt="").style-img-price2
                    img(src="../../../dist/assets/images/info-product/img10.jpg", alt="").style-img-price2
                .title-price
                    h2 Giá cho Logo
                .table-heading
                    table
                        thead
                            tr
                                th Kích thước/Phong cách
                                th
                                th 1
                                th 2
                                th 3
                                th 4
                                th 5
                                th 6
                                th 7
                                th 8
                                th 9
                                th.last-child
                                    select
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                        option(value="13") 13
                                        option(value="14") 14
                                        option(value="15") 15
                        tbody
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                    p 1,000 x 1,000mm (1m²)
                                        span <i class="fas fa-cog"></i>
                                td("colspan"="12")
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                            tr
                                td 1/3rd A4
                                    span.text-sp ( 99 x 210mm )
                                td("colspan"="12")
                            tr.border-bottom
                                td
                                td
                                    img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                                    span.colour-area.text-ps 4 colours :: 6 areas
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00                    
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00
                                td
                                    p £155.00