extends ../layouts/layout.pug
block main-content
    //- box Search
    section.search-heading
            .title-page
                h2 Search for a studio
            .search__box
                a(href="#")
                    i.fas.fa-search
                input.search-text(type="text", name="", placeholder="Enter a location")

    //- map
    section.map-search
        .studio__list
            p.location__title Your nearest studios...
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
                    .more__view
                        a(href="#") View details →
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio1.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio2.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio3.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio4.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio1.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio2.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio3.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio4.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
            .studio__item
                .studio__info
                    .studio__img
                        img(src="../../../dist/assets/images/mapSearch/studio.jpg", alt="")
                    .studio__hotline
                        a(href="#") Birkenhead - East
                        p printing.com @ Gud Design 
                        p The Barns, 5 Village Road, 
                        p Oxton, Wirral
                        p Birkenhead, CH43 5SR
                .studio__detail
                    <i class="fas fa-info-circle"></i>
        .studio__map
            img(src="../../../dist/assets/images/mapSearch/map.png", alt="")

