extends ../layouts/layout_non.pug
block main-content
    .text-center.animated(style='background-image: linear-gradient(to right, transparent, transparent), url("../../../dist/assets/images/663038.jpg"), url("../../../dist/assets/images/662941.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll, scroll, fixed; background-size: cover, cover; min-height: 850px; padding-top: 70px; padding-bottom: 50px; visibility: visible; animation-name: fadeIn;', nettl-droppable='row')
        .container
            .col-md-12.col-sm-12.editing(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 50px 15px 400px;', nettl-droppable='column')
            .css-wrapper(style='text-align:right')
                svg(style='height: 30px; width: 30px; fill: rgb(136, 136, 136); display: inline-block;', x='0px', y='0px', width='48px', height='48px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
                rect(x='2', y='10', fill='#3F51B5', width='44', height='28')
                g
                    polygon(fill='#FFFFFF', points='2,14.216 22.81,26.935 25.939,21.815 6.608,10 2,10 	')
                    polygon(fill='#FFFFFF', points='46,10 42.391,10 23.061,21.814 26.189,26.935 46,14.826 	')
                    polygon(fill='#FFFFFF', points='26.189,20.271 23.061,25.391 43.691,38 46,38 46,32.379 	')
                    polygon(fill='#FFFFFF', points='2,32.991 2,38 5.31,38 25.939,25.392 22.811,20.271 	')
                    rect(x='2', y='20', fill='#FFFFFF', width='44', height='8')
                    rect(x='20', y='10', fill='#FFFFFF', width='8', height='28')
                g
                    polygon(fill='#E53935', points='17.218,20 2,10.699 2,13.043 13.382,20 	')
                    polygon(fill='#E53935', points='44.309,10 27.947,20 31.782,20 46,11.311 46,10 	')
                    polygon(fill='#E53935', points='33.082,28 46,35.895 46,33.551 36.917,28 	')
                    polygon(fill='#E53935', points='15.918,28 2,36.506 2,38 3.392,38 19.753,28 	')
                    rect(x='2', y='22', fill='#E53935', width='44', height='4')
                    rect(x='22', y='10', fill='#E53935', width='4', height='28')
            p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(255, 255, 255); font-weight: 300; font-style: normal; letter-spacing: 5px; font-size: 15px;', contenteditable='false')
                | AN OPPORTUNITY TO LICENCE
                br
            .spacer-15
            .col-md-12.col-sm-12(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 100px 15px 0px;', nettl-droppable='column')
                p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); font-weight: 600; font-style: normal; letter-spacing: 0px; font-size: 19px; font-family: Rock Salt; margin-bottom: 3px;', contenteditable='false')
                    span(style='font-weight: normal;') Exclusively
                    br
                p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(29, 76, 140); font-weight: 600; font-style: normal; letter-spacing: 5px; font-size: 15px; font-family: Open Sans; margin-bottom: 40px;', contenteditable='false')
                    span(style='font-weight: normal;') IN YOUR TOWN
                    br
                a.cs-animates-btn(target='', style='font-size: 14px; background-color: rgb(227, 0, 122); color: rgb(255, 255, 255); border-radius: 4px; border-width: 4px; border-color: rgb(227, 0, 122); margin-bottom: 0px; letter-spacing: 0px; font-family: "Open Sans";', href='/index#7ec9cd95-9028-c2ee-0476-63fbdf0bac90', contenteditable='false') Explore the opportunity
                .spacer-15
        //- 
    .partner__carousel
        .partner__inner.container
            .partner__content
                p.partner__title.lastline  ALL NEW FORMULA
                p.partner__detail Could you benefit from printing.com's marketing, 
                p.partner__detail.lastline reputation and systems?
                p.partner__detail For the first time, get printing.com exclusively 
                p.partner__detail.lastline in your town with a simple licence agreement.
                p.icon-chevron <i class="fas fa-chevron-down"></i>
            .partner__img
                img(src="../../../dist/assets/images/partner/partner1.jpg", alt="")
    //-
    .row.team-carousel(nettl-droppable='row', style='padding-top: 41px; padding-bottom: 0px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../dist/assets/images/663307.jpg); background-repeat: no-repeat; background-position: center center; background-attachment: scroll, fixed; min-height: 200px; background-size: cover, cover;')
        .container.text-center
            .col-sm-12.col-md-12.editing(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 40px 15px 0px;', nettl-droppable='column')
            h3(style='margin-bottom: 36px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(255, 255, 255);', contenteditable='false')
                | Use the printing.com brand to grow your business
                br
            a.cs-animates2-btn(href='img/828162.pdf', style='letter-spacing: 0px; color: rgb(245, 245, 245); background-color: rgba(255, 240, 240, 0.13); font-size: 15px; border-color: rgb(255, 255, 255); margin-bottom: 58px;', target='', contenteditable='false') Download Prospectus
            a(target='', href='#')
    //- 
    .partner__carousel
        p.partner__title-big.lastline Thử ngay nếu địa chỉ giao dịch của bạn hợp lệ
        .partner__inner.container
            .partner__img
                img(src="../../../dist/assets/images/partner/partner2.jpg", alt="") 
            .partner__content
                p 
                    input(type="text" placeholder="Tên Của Bạn").partner__title.lastline
                p
                    input(type="text" placeholder="Email Của Bạn").partner__title.lastline
                p
                    input(type="text" placeholder="Địa Chỉ Giao Dịch").partner__title.lastline
                a.btn-submit(href="#") Check availability >
                input.checkbox(type="checkbox")
                label(for="") Nhận tin nhắn qua Email
    //- 
    .partner__carousel(style="background:#EFF5F4;")
        .partner__inner.container.j-center
            .partner__img
                img(src="../../../dist/assets/images/partner/partner3.png", alt="") 
            .partner__content
                p.partner__title.lastline  ABOUT PRINTING.COM
                p.partner__detail The printing.com domain was acquired in 
                p.partner__detail 2000 by 
                    span(style="color: red;") Grafenia plc
                    |, a public company listed 
                p.partner__detail on the London Stock Exchange, for around  
                p.partner__detail.lastline USD 1million.
                p.partner__detail Grafenia powers many famous online print   
                p.partner__detail.lastline brands around the world.
                p.icon-chevron <i class="fas fa-chevron-down"></i>
    //- 
    p.partner__title-big.lastline NHÀ TÀI TRỢ CHÍNH
    .powers
        .powers__inner.container
            .powers__img
                img(src="../../../dist/assets/images/partner/logo1.png", alt="")
            .powers__img
                img(src="../../../dist/assets/images/partner/logo2.png", alt="")
            .powers__img
                img(src="../../../dist/assets/images/partner/logo3.png", alt="")    
            .powers__img
                img(src="../../../dist/assets/images/partner/logo4.png", alt="") 
            .powers__img
                img(src="../../../dist/assets/images/partner/logo5.png", alt="")   
            .powers__img
                img(src="../../../dist/assets/images/partner/logo6.png", alt="")                                                                        
    p.icon-chevron <i class="fas fa-chevron-down"></i>
    //- 
    .row.overlay-dark(nettl-droppable='row', style='background-image: linear-gradient(to right, rgba(28, 28, 28, 0.75), rgba(28, 28, 28, 0.75)), url(../../../dist/assets/images/663135.jpg); background-size: cover, cover; background-repeat: no-repeat; background-position: center center; background-attachment: scroll, fixed; min-height: 100px; padding-top: 50px; padding-bottom: 50px;')
        .container.text-center.d-flex
            .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
                h1(style='text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;', contenteditable='false') 17
                h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
                    | years of brand heritage
                    br
            .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
                h1(style='text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;', contenteditable='false') 5
                h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
                    | countries with studio networks
                    br
            .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
                h1(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01);', contenteditable='false')
                    | 1M
                    br
                h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
                    | website sessions per year
                    br
            .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
                h1(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01);', contenteditable='false')
                    | 500K
                    br
                h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
                    | visitors per year
                    br
    //- 
    p.partner__title-big.lastline CÁC Di SẢN CỦA CHÚNG TÔI
    .become-partner(style="background:#EFF5F4;")
        .become-partner__inner.container
            .become-partner__block(style="background: #FAFAFD;")
                .heritage_img
                    img(src="../../../dist/assets/images/partner/home1.jpg", alt="")
                p.become-partner__title T H Ư Ơ N G - H I Ệ U
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block(style="background: #EFF0F7;")
                .heritage_img
                    img(src="../../../dist/assets/images/partner/home2.jpg", alt="")
                p.become-partner__title G I A O - T H Ư Ơ N G
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block(style="background: #E8EBF5;")
                .heritage_img
                    img(src="../../../dist/assets/images/partner/home3.jpg", alt="")
                p.become-partner__title P H Ỏ N G - V Ấ N
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block(style="background: #E2E5F2;")
                .heritage_img
                    img(src="../../../dist/assets/images/partner/home4.jpg", alt="")
                p.become-partner__title C Ô N G - N G H Ệ
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
    p.icon-chevron <i class="fas fa-chevron-down"></i>
    //- 

    .become-partner(style="background:#EFF5F4;")
        p.partner__title-big.lastline Trở thành đối tác của chúng tôi
        .become-partner__inner.container
            .become-partner__block
                p <i class="fas fa-tv"></i>
                p.become-partner__title T H Ư Ơ N G - H I Ệ U
                p.text-bold.lastline Sử dụng thương hiệu thúc đẩy thương hiệu của chính bạn
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block
                p <i class="fas fa-shopping-cart"></i>
                p.become-partner__title G I A O - T H Ư Ơ N G
                p.text-bold.lastline Sử dụng thương hiệu thúc đẩy thương hiệu của chính bạn
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block
                p <i class="fas fa-vector-square"></i>
                p.become-partner__title P H Ỏ N G - V Ấ N
                p.text-bold.lastline Sử dụng thương hiệu thúc đẩy thương hiệu của chính bạn
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
            .become-partner__block
                p <i class="fas fa-teeth"></i>
                p.become-partner__title C Ô N G - N G H Ệ
                                p.text-bold.lastline Sử dụng thương hiệu thúc đẩy thương hiệu của chính bạn
                p.lastline thương hiệu có hơn 10000 người tin dùng và sử dụng với mục đích đẩy chéo
    //- 
    .partner__carousel
        .partner__inner.container
            .partner__content
                p.partner__title.lastline  THE OPPORTUNITY
                p.partner__detail Do you sell print and design locally? Spend  
                p.partner__detail your time helping your clients and never have 
                p.partner__detail.lastline time to promote yourself?
                p.partner__detail Struggling to keep up with the online tools 
                p.partner__detail.lastline your clients are demanding?  
                p.partner__detail.lastline A partnership with printing.com might help...
                p.icon-chevron <i class="fas fa-chevron-down"></i>
            .partner__img.w-400
                img(src="../../../dist/assets/images/partner/partner4.png", alt="") 
    //- 
    .bg-light
        p.partner__title-big.lastline CÁC Di SẢN CỦA CHÚNG TÔI
        .container
            .row.bg-pricing
                .col-lg-6.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title
                            h3 BASIC PLAN
                        .pricing-price
                            span #[sup $] 15.00 #[span /Mon]
                        .pricing-main
                            ul
                                li 5 GB Bandwidth
                                li Highest Speed
                                li 1 GB Storage
                                li Unlimited Website
                                li Unlimited Users
                                li 24x7 Great Support
                                li Data Security and Backups
                                li Monthly Reports and Analytics
                        .pricing-footer
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet SELECT PLAN
                .col-lg-6.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title.bg-active
                            h3 BASIC PLAN
                        .pricing-price
                            span #[sup $] 15.00 #[span /Mon]
                        .pricing-main
                            ul
                                li 5 GB Bandwidth
                                li Highest Speed
                                li 1 GB Storage
                                li Unlimited Website
                                li Unlimited Users
                                li 24x7 Great Support
                                li Data Security and Backups
                                li Monthly Reports and Analytics
                        .pricing-footer.btn-active
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-green.btn-active SELECT PLAN
        p.icon-chevron <i class="fas fa-chevron-down"></i>
    //- 
    .partner__carousel
        p.partner__title-big.lastline Thử ngay nếu địa chỉ giao dịch của bạn hợp lệ
        .partner__inner.container
            .partner__img
                img(src="../../../dist/assets/images/partner/partner2.jpg", alt="") 
            .partner__content
                p.partner__title.lastline  CHỈ CẦN ĐĂNG KÝ
                p.partner__detail Nếu bạn thích thú hãy khám phá nó  
                p.partner__detail.lastline Priting không chận chễ
                p.partner__detail Hơn 50 cơ sỡ được mở của trong cuối năm 
                p.partner__detail.lastline hãy là người tiếp theo
                p.partner__detail.lastline Bạn đã sẵn sàng chưa ?  
                a.btn-submit.lastline(href="#") Đăng ký cho sở thích của bạn >
                a.btn-submit-return.lastline(href="#") Tải bản đăng ký >
    .partner__footer
        p printing.com is a registered trademark and trading style of Grafenia plc.
        p This website was built entirely in 
            span(style="color:#FFC2E3;") Brambl.