extends ../layouts/layout.pug
block main-content
    .product-div
        .container
            .row
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/1.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product1.html") Menu giấy
                            a(href="../../../dist/html/pages/info-product1.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product1.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/2.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product2.html") Phong thư
                            a(href="../../../dist/html/pages/info-product2.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product2.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/3.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product3.html") Thiệp cưới
                            a(href="../../../dist/html/pages/info-product3.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product3.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/4.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product4.html") Tiêu đề thư
                            a(href="../../../dist/html/pages/info-product4.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product4.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/5.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product5.html") Tờ rơi
                            a(href="../../../dist/html/pages/info-product5.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product5.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/6.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product6.html") Túi đựng thực phẩm
                            a(href="../../../dist/html/pages/info-product6.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span 1000
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product6.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/7.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product7.html") Túi giấy
                            a(href="../../../dist/html/pages/info-product7.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product7.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/8.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product8.html") Voucher
                            a(href="../../../dist/html/pages/info-product8.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product8.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/9.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product9.html") Hộp giấy
                            a(href="../../../dist/html/pages/info-product9.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product9.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/10.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product10.html") Chứng nhận
                            a(href="../../../dist/html/pages/info-product10.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product10.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/11.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product11.html") Bao lì xì
                            a(href="../../../dist/html/pages/info-product11.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product11.html") Mua ngay >
                .item.d-flex-box.col-md-6.col-lg-3.col-sm-6
                    .box-slider
                        .box-img-slider
                            img(src="../../../dist/assets/images/bestSelling/12.png", alt="selling")
                            .text-box-img
                                span Mua ngay <i class="fas fa-arrow-circle-right"></i>
                        .text-box
                            h4
                                a(href="../../../dist/html/pages/info-product12.html") StarMarque Bio Spot UV Business Cards
                            a(href="../../../dist/html/pages/info-product12.html") giấy bìa cứng chất lượng cao
                        .row.box-bt
                            .text-bt-slider từ
                                span &nbsp; 10 <sup>đ</sup> 
                            a.btn-slider.btn-white(href="../../../dist/html/pages/info-product12.html") Mua ngay >