extends ../layouts/layout_register.pug
block main-content
    .background-register
        .background-register-image
            img(src="../../.././dist/assets/images/choose/bg-choose.jpg ", alt="")
        .background-register-bg
    section.register
        .col-lg-7.col-md-8.col-sm-12.col-12.form-flex
            include ../patials/sign_in.pug
        .col-lg-5.col-md-4.col-sm-12.col-12
            include ../patials/register_child.pug


