extends ../layouts/layout.pug
block main-content
    section.basket
        .basket-header
            h1.header-title Giỏ hàng
            a(href="#").basket-checkout-btn 
                <i class="fas fa-lock"></i>
                span Đi tới thanh toán 
                <i class="fas fa-arrow-circle-right"></i>
        .basket-content
            .content-header.row
                .basket-desc.col-lg-6 Mô tả
                .basket-quantity.col-lg-2 Số lượng
                .basket-delivery.col-lg-2 Vận chuyển
                .basket-total.col-lg-2 Tổng cộng <i class="fas fa-save"></i>
            .content-body.row
                .basket-preview.col-lg-2.text-center
                    a(href="#").btn-artwork <i class="fas fa-exclamation-triangle"></i> Thêm sản phẩm 
                .basket-desc-content.col-lg-4
                    h3.product-name Văn phòng phẩm
                        span <i class="fas fa-cog"></i> <i class="fas fa-copy"></i>
                    .prod-desc
                        a(href="#") Giấy - A4 - 4x0
                        p 210 x 297mm <br> 120g giấy trắng <br> Đầy đủ màu sắc
                        p.update-title Vui lòng đặt tên
                        p.reference-title
                            strong Tham khảo của bạn: &nbsp;
                            span  Thêm thanh toán
                        form
                            //- span Want a proof?:
                            //- label Yes
                            //- input(type="radio" name="proof" value ="yes" checked)
                            //- label No
                            //- input(type="radio" name="proof" value ="no")
                            //- label If you spot issues
                            //- input(type="radio" name="proof" value ="issues")	
                .basket-quantity-content.col-lg-2
                    form
                        select(name="quantity")
                            option(value="1") 250
                            option(value="2") 350
                            option(value="3") 450
                            option(value="4") 550
                .basket-delivery-content.col-lg-2
                    form
                        select(name="service")
                            option(value="1") 6 ngày làm việc (05/09/2019)
                            option(value="2") 3 ngày làm việc (05/09/2019)
                            option(value="3") 9 ngày làm việc (05/09/2019)										
                    p Khi bạn thanh toán lúc 15:00
                .basket-total-content.col-lg-2
                    p £62.00 <i class="fas fa-trash"></i>
        .basket-checkout.row
            .basket-checkout-inner.col-lg-3.col-md-6.col-sm-12.col-xs-12.ml-auto
                form
                    label
                        span <i class="fa fa-lg fa-gift"></i> Phiếu giảm giá
                    .basket-coupon.row
                        input.col-lg-6(type="text")
                        input.col-lg-3(type="submit" value='Áp dụng')
                .checkout-total
                    .total
                        span Tổng đơn hàng:
                        span £62.00
                    .total
                        span Thuế VAT 20%:
                        span £62.00
                    .total
                        span Tổng cộng:
                        span £62.00
        .basket-bottom
            a(href="#").basket-back-btn
                    <i class="fas fa-arrow-circle-left"></i>
                    span Tiếp tục mua hàng
            a(href="#").basket-checkout-btn
                    <i class="fas fa-lock"></i>
                    span Đi đến trang thanh toán
                    <i class="fas fa-arrow-circle-right"></i>
                    
