extends ../layouts/layout_register.pug
block main-content
    .background-register
        .background-register-image
            img(src="../../.././dist/assets/images/choose/bg-choose.jpg ", alt="")
        .background-register-bg
    section.register.custom-sign-in
        .form-flex
            include ../patials/sign_in1.pug



