extends ../layouts/layout.pug
block main-content
    .supply
        header.title_header_supply
            .container.header-supply
                form
                    input(name="s_key" type="text" value="" size="20" placeholder="Search help..." class="ui-autocomplete-input" autocomplete="off")
                    input(type="image" src="../../../dist/assets/images/supply/magnify.png" alt="Do search")
                .title_bar
                    h1 File Supply Guide - How to supply your own artwork			
                    .info
                        .info-img
                            img(src="../../../dist/assets/images/supply/1.jpeg", alt="")
                        .info-text
                            p by 
                                span.ig Tom Williams 
                                span 2 years ago
                            img(src="../../../dist/assets/images/supply/2.png", alt="" style="padding: 0rem 0.5rem 0 0 ;")
                            a(href="#") Print this book  
    .contain
        .container   
            .detail
                p You're in the right place to learn how to supply your artwork ready for printing. Here you'll learn the basics.         
            h3 File Supply - Essentials
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...
            h3 Setting up Your Files
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...
            h3 Extra Reading
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...                  
            h3 Sending us your files
            .block-containt
                .block-icon
                    <i class="far fa-file-alt"></i>
                .block-text
                    a(href="#")
                        h3 File Supply Essentials
                        p We want the same thing that you want. We want your graphic files to print correctly first time and look like you meant them to. Below are the minimum file supply essentials you need to follow...                  