extends ../layouts/layout.pug
block main-content
    .text-info 
        h1 Thiết kế phông bạt, biển bảng
        br
        p Phông bạt, biển bảng quảng cáo một phần không thể thiếu cho chiến dịch quảng cáo của công ty, doanh nghiệp để thương hiệu, sản phẩm của mình nhanh chóng tiếp cận được với khách hàng. 
        br
        p Tuy nhiên làm thế nào để ấn phẩm của bạn thu hút được sự chú ý của khách hàng và dẫn khách hàng đến bạn là một điều không hề dễ dàng. Hãy để chúng tôi lgiúp bạn, công ty cp In Hồng Đăng cung cấp dịch vụ thiết kế phông bạt, biển bảng quảng cáo tốt nhất.
        br
        p Với kinh nghiệm cùng khả năng chuyên môn cao, chúng tôi sẽ giúp bạn thiết kế những mẫu biển quảng cáo đẹp, sáng tạo góp phần đưa sản phẩm của bạn đến gần hơn với khách hàng.
        br
        h3 4 NGUYÊN TẮC VÀNG TRONG THIẾT KẾ PHÔNG BẠT/BIỂN BẢNG
        br
        h4 Lấy sự đơn giản tạo tính thu hút:
        ul.catalogue 
            li Thông thường khách hàng chỉ lướt qua 5s để đọc và ghi nhớ biển quảng cáo của bạn. Vì vậy đừng bao giờ cố nhồi nhét quá nhiều thông tin vào nó, hãy để sự đơn giản tạo điểm nhấn và truyền tải thông điệp mạnh mẽ đến khách hàng. Bố cục thông thường gồm:
                ul.bat
                    li Một hình ảnh hấp dẫn / hình ảnh
                    li Một độc đáo, tiêu đề tính cảm xúc
                    li Tên của bạn / logo / thông tin liên hệ
            br
            li Sử dụng màu sắc tương phản cao: 
                ul.bat
                    li Màu sắc tương phản giúp khách hàng dễ dàng nhận biết biển quảng cáo của bạn. Hãy ghi nhớ nguyên tắc này trong mọi thiết kế bạn nhé
            br            
            li Sử dụng phông chữ dễ đọc:
                ul.bat
                    li Hãy sáng tạo ở nội dung và hình ảnh chứ đừng bao giờ sáng tạo phông chữ. Bạn chỉ nên sử dụng phông chữ đậm, phong cách đơn giản giúp khách hàng dễ đọc và ghi nhớ ở mọi khoảng cách.
            br
            li Tập trung vào một điểm nhận duy nhất:
                ul.bat
                    li Bạn có thể dùng hình ảnh, logo để làm điểm nhấn thu hút sự chú ý. Đừng tạo quá nhiều điểm thu hút khiến khách hàng bị loãng thông tin.
