extends ../layouts/layout.pug
block main-content
    .text-info    
        h1 IN CATALOGUE UY TÍN SỐ 1 TRÊN TOÀN QUỐC - NHẬN IN CATALOGUE SỐ LƯỢNG ÍT
        br
        p Với mỗi doanh nghiệp, catalogue không thể thiếu trong bộ nhận diện thương hiệu. Một bản in chỉnh chu, được thiết kế chuyên nghiệp sẽ nâng tầm giá trị của doanh nghiệp lên tầm cao mới.
        br
        p Catalogue là nơi để doanh nghiệp “khoe” tất cả thế mạnh của mình. Trong catalogue sẽ có các thông tin về quá trình hình thành và phát triển, giá trị cốt lõi, nguồn nhân lực, quá trình hoạt động cũng như các sản phẩm, dịch vụ của doanh nghiệp cung cấp.
        br
        P Khi cầm trên tay một quyển catalogue hoàn chỉnh, khách hàng sẽ hiểu hơn về công ty của bạn, cũng như các sản phẩm và dịch vụ. Hơn nữa, ấn tượng về sự chuyên nghiệp, tổ chức rõ ràng tận tâm sẽ làm khách hàng có cảm tình, tăng ý muốn hợp tác.
        br
        h3 Nhu cầu in catalogue đang tăng lên nhanh chóng
        br
        p Đi cùng với sự đổi mới trong nhận thức xây dựng thương hiệu, nhu cầu in Cataloguecũng tăng lên nhanh chóng. Catalogue giúp công ty của bạn tăng sự tin tưởng đối với khách hàng, đối tác. Ai cũng sẽ thích hợp tác với một công ty rõ ràng, minh bạch, chuyên nghiệp. Chỉ với một bản in catalogue, bạn đã chứng minh cho khách hàng khả năng của công ty. 
        br
        p Hơn nữa, catalogue cũng là công cụ giúp nhân viên hiểu rõ công ty mình hơn. Một quyển catalogue có đầy đủ thông tin doanh nghiệp, ban lãnh đạo là cách giới thiệu tốt nhất cho tất cả nhân viên. Hơn nữa, việc có tên của mình trên bản in catalogue của công ty là rất vinh dự, tạo động lực thúc đẩy nhân viên làm việc năng suất hơn.
        br
        h3 Các tiêu chí để đánh giá in catalogue chuyên nghiệp
        p Một bản in catalogue chuyên nghiệp, phải đảm bảo cả 2 tiêu chí nội dung, thiết kế
        p Về phần nội dung, catalogue là một quyển chứa khá nhiều thông tin về doanh nghiệp, chính vì thế bạn cần phải chọn lọc, đưa những tin nổi bật, có ý nghĩa. Ngoài ra, thông tin cũng phải thể hiện được tinh thần, phương châm của doanh nghiệp. Tùy theo catalogue của bạn là để trưng bày sản phẩm hay để giới thiệu doanh nghiệp mà bạn có thể lựa chọn nội dung cho phù hợp
        p Về thiết kế, catalogue là một phần quan trọng trong bộ nhận diện thương hiệu. Nên thiết kế catalogue phải đồng bộ với thương hiệu của công ty từ màu sắc, logo, phong cách thiết kế. Thiết kế ấn tượng cũng là một điểm cộng lớn, giúp catalogue của bạn chuyên nghiệp trong mắt khách hàng. Ngoài việc chú trọng thiết kế bên ngoài bìa catalogue, từng trang cũng nên được thiết kế cẩn thận, thống nhất với concept chung.
        p Sự chọn lọc nội dung cùng sự cẩn trọng trong thiết kế sẽ tạo nên một bản in catalogue đẹp, chuyên nghiệp, ấn tượng.
        h3 Quy cách thiết kế catalogue
        ul.catalogue
            li Kích thước sản phẩm: Tùy theo mục đích sử dụng để có thể lựa chọn được kích thước catalogue phù hợp. Ví dụ như in catalogue giới thiệu doanh nghiệp thì sẽ có kích thước phổ biến là A4 (20.5 x 29.5cm), in catalogue giới thiệu sản phẩm có thể chọn kích thước A3 (14.5 x 20.5cm)
            li Chất liệu giấy in: Có thể in trên rất nhiều các giấy phổ biến như giấy Couche hoặc giấy Ivory, thậm chí cả giấy mỹ thuật
            li Kỹ thuật in: in offset 4 màu 2 mặt, chất lượng cao hoặc in nhanh
            li Gia công:  xén, cán, hoặc bồi tùy theo nhu cầu sử dụng 


        