extends ../layouts/layout.pug
block main-content
    .text-info    
        h1 Thiết kế bao bì sản phẩm
        p   - Mẫu thiết kế bao bì đẹp - ấn tượng sẽ ảnh hưởng lớn đến quyết định mua hàng của khách hàng và tạo xu thế mua bán đáng kinh ngạc.
        br
        p   - Bạn có biết rằng những ấn tượng ban đầu quyết định 50% việc bạn sẽ có thêm khách hàng tiềm năng, hay sẽ đẩy họ qua cho các đối thủ. Một sản phẩm tốt vẫn có thể được mua nhưng nếu nó đi kèm với một bao bì chuyên nghiệp và bắt mắt chắc chắn nó sẽ thu hút hơn. Như vậy thôi cũng đủ thấy tầm quan trọng của mẫu bao bì sản phẩm đẹp.
        br
        p   - Để xây dựng một thương hiệu sản phẩm thành công thì thiết kế bao bì chuyên nghiệp chính là yêu tố tiên quyết và quan trọng hàng đàu bạn cần đề ra. Thiết kế bao bì chuyên nghiệp với hình ảnh ấn tượng, đẹp mắt, thông tin đầy đủ theo quy định, thể hiện cá tính riêng, sẽ mang lại cho bạn 80% cơ hội chiên thắng trên kệ hàng
        
        h3 DỊCH VỤ THIẾT KẾ BAO BÌ SẢN PHẨM BAO GỒM
        ul
            li - Thiết  kế kiểu dáng sản phẩm
            li - Thiết kế bao bì giấy, nhựa, thủy tinh, gỗ,...
            li - Thiết kế bao bì thùng carton, vỏ hộp,...
            li - Thiết kế mẫu thử
            li - Thiết kế tem nhãn sản phẩm
            li - Thiết kế phiếu bảo hành, thẻ bào hành, hướng dẫn sử dụng,...
