extends ../layouts/layout.pug
block main-content
    .text-info 
        h1 CHUYÊN NHẬN IN HÓA ĐƠN THEO YÊU CẦU TRÊN TOÀN QUỐC 
        br
        p Những hóa đơn bình thường sẽ không lưu lại ấn tượng đối với khách hàng, nhưng những mẫu in hóa đơn đẹp sẽ giúp nhà hàng, doanh nghiệp của bạn tạo sự chuyên nghiệp, hấp dẫn.
        br
        p Hóa đơn là tờ giấy ghi lại tất cả số lượng những sản phẩm, dịch vụ mà khách hàng đã mua cùng số tiền phải bỏ ra. Chúng ta bắt gặp hóa đơn ở khắp mọi nơi trong cuộc sống như đi nhà hàng, đi mua sắm tại cửa hàng,...
        br
        p Bản in hóa đơn thông thường sẽ có phần liên hệ của công ty cùng logo ở phía trên, ở giữa sẽ là thông tin sản phẩm khách hàng đã mua. Các công ty, đơn vị muốn tạo ấn tượng với khách hàng thường chú trọng thiết kế hóa đơn đẹp, thống nhất với bộ nhận diện thương hiệu.
        br
        h3 Vai trò, tác dụng của in hóa đơn đẹp
        br
        p Thể hiện sự chỉnh chu, chu đáo của cửa hàng, doanh nghiệp
        br
        p Có rất nhiều khách hàng muốn nhận lại, lưu giữ hóa đơn mua hàng. Với việc được nhận lại một hóa đơn được thiết kế cẩn thận, thông tin rõ ràng, khách hàng sẽ cảm thấy được sự chỉnh chu, tỉ mỉ trong từng chi tiết nhỏ của cửa hàng, doanh nghiệp. Đây cũng là bước đầu tạo ấn tượng tốt, tăng tỉ lệ khách hàng quay trở lại sử dụng sản phẩm, dịch vụ.
        br
        p Giảm tỉ lệ làm giả, làm nhái hóa đơn
        br
        p Với những mẫu thiết kế đẹp, riêng biệt, tình trạng làm giả hóa đơn sẽ giảm thiểu. Vì không phải ai cũng có thể bắt chước một mẫu thiết kế đã được làm cẩn thận.
        br
        h3 Các tiêu chí để đánh giá in hóa đơn đẹp
        ul.catalogue
            li Đối với in hóa đơn thông thường chỉ sử dụng những màu cơ bản, truyền thống như xanh hoặc đỏ. Nhưng một hóa đơn đẹp, có thể đa dạng màu sắc, cho phù hợp với bộ nhận diện của công ty
            br
            li Ngoài ra, bạn có thể thiết kế khung viền, hình nền, hoặc những họa tiết đơn giản nhưng vẫn nổi bật.
            br
            li Có một lưu ý rằng tác dụng chính của hóa đơn là để ghi thông tin sản phẩm đã mua, nên dù chọn thiết kế nào thì cũng phải để lại khoảng trống để viết thông tin một cách dễ nhìn.
            br
        ul.catalogue
            li Kích thước sản phẩm: Có rất nhiều kích thước, phù thuộc vào nhu cầu của khách hàng. Một số kích thước phổ biến là: 8x12cm, 10.5x15cm,...
            br
            li Chất liệu: Giấy Cacbon
            br
            li Kỹ thuật in: in offset 1 màu, 1 nội dung
            br 
            li Gia công: số nhảy, keo đầu, rãnh xé