h1{
    color: #01A2ED;
    font-weight: 400;
}
.btn-white{
    background: white !important;
    color: #01A2ED !important;
}
.bg-light{
    background-color: #f3f3f6;
}
.mt-3{
    margin-top: 15px;
}
.row1{
    .owl-nav{
        margin: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -30px;
        .owl-prev{
            position: absolute;
            left: -50px;
        }
        
        .owl-next{
            position: absolute;
            right: -50px;
            background-color: none !important;
        }
        span{
            color: #194e90;
            background-color: #fff;
            font-size: 24px;
            padding: 0px 13.5px;
            border-radius: 50%;
            transition: all .5s ease;
            box-shadow: 0 0px 7px 0 #666;
            &:hover{
                box-shadow: 0 2px 14px 0 #666;
                transition: all .5s ease;
            }
            &:focus{
                box-shadow: 0 2px 11px 0 #666;
                transition: all .5s ease;
            }
        }
    }
    .owl-nav [class*=owl-]:hover {
        background: none !important;
    }
    .owl-nav [class*=owl-] {
        border: none;
        outline: none;
    }
    .owl-dots{
        background: white;
        width: 100px;
        height: 20px;
        margin: auto;
        border-radius: 10px;
        button{
            outline: none;
            border: none;
        }
        .active{
            span{
                background-color: #194e90 !important;
            }
        }
    }
}
.box-slider{
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    .text-box{
        padding: 15px;
        height: 120px;
        a{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-height: 25px;
        }
        h4{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-height: 25px;
        }
    }
    .box-bt{
        padding: 15px;
        .btn-slider{
            margin-left: auto;
            background-color: #194e90;
            padding: 1px 10px;
            color: white;
            text-decoration: none;
            border-radius: 3px;
        }
        .tex-bt-slider{
            color: #55595c;
            white-space: nowrap;
            span{
                font-size: 12px !important;
            }
            a{
                font-size: 16px;
            }
        }
    }
    h4{
        font-size: 18px;
        font-family: sans-serif;
    }
    a{
        color: #194e90;
        text-decoration: none;
        font-size: 16px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        &:hover{
            text-decoration: underline;
        }
    }
    .box-img-slider{
        position: relative;
        img{
            width: 100%;
            display: block;
            min-height: 260px;
            max-height: 260px;
            height: auto;
        }
        .text-box-img{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(1, 162, 237, 0.8) !important;
            width: 100%;
            height: 100%;
            transition: all .3s ease;
            span{
                display: block;
                text-align: center;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 100;
                &:first-child{
                    margin-top: -20px;
                }
                &:last-child{
                    font-size: 20px;
                    white-space: nowrap;
                }
            }
        }
    }
    &:hover .text-box-img{
        opacity: 1;
        transition: all .3s ease;
    }
    &:before{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 162, 237, 0.8) !important;
    }
}
.text-bottom{
    display: block;
    text-align: right;
    margin: 15px 0;
    font-size: 16px;
    text-decoration: none;
    color: #194e90;
    &:hover{
        text-decoration: underline;
    }
}

@media (max-width: 992px){
    .row1{
        .owl-nav{
            .owl-prev{
                position: absolute;
                left: 0;
            }
            
            .owl-next{
                position: absolute;
                right: 0;
            }
        }
        
    }
}

@media (max-width: 768px){
    .row1{
        .owl-dots{
            display: none;
        }
    }
}