.buy-product__banner{
    height: 300px;
    background: url('../../dist/assets/images/info-product/img10.jpg');
    margin-top: 8rem;
    background-position: center;
}
.buy-product-header{
    background: #E9E9F0;

    // .parallax-init{
    //     // background: url('../../../dist/assets/images/buyProduct/5.jpg') cover no-repeat center;
    //     // width: 100%;
    // }
    .page-title{
        // padding: 2.5rem 18rem 2rem;
        // margin: 0 17rem;
        color: #01A2ED;
        font-weight: 400;
        text-align: left;
        font-size: 1.6rem;
        a{
            text-decoration: none;
            color: #194e90;
            &:hover{
                text-decoration: underline;
                color: #01A2ED;
            }
        }
    }
}
.buy-product{
    background: #F3F3F6;
    .buy-product__inner{
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        // align-items: center;
        .buy-product__block{
            padding-top: 5rem;
            width: 30%;
            // padding: 1rem;
            .header-containt{
                font-size: 16px;
                margin-top: 1.6rem;
            }
            .hrit{
                position: relative;
                border-top: 1px solid #194e90;
                margin: 2rem 0; 

            }
            .text{
                text-align: center;
                position: absolute;
                top: -22px;
                left: 100px;
                bottom: -20px;
                right: 100px;
                background: #F3F3F6;
                padding: 0.5rem;
                color: #01A2ED;
                &:hover{
                    background: white;
                }
            }
            .buy-product__img{
                margin-top: 5rem;
                border-radius: 10px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .featured {
                .header-block{
                    p{
                        padding: 1rem 0;
                    }
                    .product_block{
                        display: flex;
                        background: #fff;
                        margin: 2rem 0;
                        border-radius: 10px;
                        .block_img{
                            width: 40%;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .block-text{
                            padding: 1rem;
                            a{
                                text-decoration: none;
                                color: #194e90;
                                font-size: 1.5rem;
                                font-weight: 400;
                            }
                            p{
                                font-size: 13px;
                            }

                        }
                    }
                }
            }
        }
        // form
        .buy-product-right__block{
            width: 70%;
            padding-left: 2rem;
            padding-top: 5rem;
            .buy-product__content{
                .show{
                    label{
                        padding-left: 1rem;
                    }
                    padding: 2rem 0 ;
                    display: flex;
                    .show__check{
                        display: flex;
                        .show__check_-block{
                            padding-left: 2rem;
                            i{
                                color: red;
                            }
                        }
                    }
                }
                .choose__check{
                    display: flex;
                    padding: 2rem 0;
                    .choose__block{
                        padding-right: 4rem;
                        .select__block{
                            display: flex;
                            align-self: flex-end;
                            select{
                                padding: 1rem 0;
                                width: 100%;
                                border: 2px solid #e5e7e9;
                                border-radius: 6px;
                                height: 3.5em;
                                line-height: 3.5em;
                                padding: 12px;
                                outline: 0;
                            }
                            .select__img{
                                position: relative;
                                img{
                                    position: absolute;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                    .reverse{
                        display: flex;
                        align-items: flex-end;
                        .circle{
                            display: flex;
                            padding-right: 4rem;
                            img{
                                margin-right: 2rem;
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .btn{
                            a{
                                display: block;
                                padding: 1rem 2rem;
                                color: white;
                                text-decoration: none;
                                background: #DE1981;
                                border-radius: 10px;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .radio__check{
                    padding: 2rem 0;
                    .box-of__radio{
                        display: flex;
                        justify-content: space-around;
                        padding: 2rem;
                        flex-wrap: wrap;
                        .box__radio{
                            width: 30%;
                            padding: 12px 15px 12px 35px;
                            border: 2px solid #e5e7e9;
                            border-radius: 4px;
                            cursor: pointer;
                            background: white;
                            // width: 100%;
                            font-weight: 400;
                            font-size: 0.9em;
                            label{
                                padding-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1170px){
    .buy-product{
        .buy-product__inner{
            flex-wrap: wrap;
            .buy-product__block{
                width: 100%;
                order: 2;
                display: flex;
                padding-top: 4rem;
                .content__block{
                    width: 50%;
                }
            }
            .buy-product-right__block{
                width: 100%;
                order: 1;
            }
        }
    }
}
@media only screen and (max-width: 993px){
    .buy-product{
        .buy-product__inner{
            .buy-product-right__block{
                .buy-product__content{
                    .show{
                        display: block;
                        .show__check{
                            display: block;
                            .show__check_-block{
                                padding-left: 0rem;
                            }
                        }
                    }
                    .choose__check{
                        display: block;
                        .choose__block{
                            padding-right: 0rem;
                            .select__block{
                                display: flex;
                                align-self: flex-end;
                                select{
                                    width: 100%;
                                }
                            }
                        }
                        .reverse{
                            display: block;
                            align-items: flex-end;
                            padding-top: 2rem; 
                            .circle{
                                display: flex;
                                padding-right: 4rem;
                                img{
                                    margin-right: 2rem;
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            .btn{
                                padding-top: 2rem;
                                a{
                                    display: block;
                                    padding: 1rem 2rem;
                                    color: white;
                                    text-decoration: none;
                                    background: #DE1981;
                                    border-radius: 10px;
                                    white-space: nowrap;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .radio__check{
                        .box-of__radio{
                            .box__radio{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .buy-product{
        .buy-product__inner{
            flex-wrap: wrap;
            .buy-product__block{
                width: 100%;
                order: 2;
                display: block;
                padding-top: 4rem;
                .content__block{
                    width: 100%;
                }
            }
            .buy-product-right__block{
                width: 100%;
                order: 1;
                .buy-product__content{

                }
            }
        }
    }
}
// .containt{
//     background: #e9e9f0;
//     color: #000;
//     .row{
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         .prodcat-description{
//             width: 30%;
//             padding-left:5rem;
//             .header-containt{
//                 // margin: 0 3rem;
//                 padding:3rem;
//                 // border-bottom: 2px solid black;
//             }
//             .hrit{
//                 position: relative;
//                 border: 1px solid #194e90;
//                 margin: 0 10rem;
                
//                 .text{
//                     position: absolute;
//                     background: #e9e9f0;
//                     top: 0;
//                     left: 50%;
//                     padding: 0;
//                     transform: translate(-50%, -50%);
//                     padding: 0rem 1rem;

//                 }
//             }
//             img{
//                 margin-top: 4rem ;
//                 width: 100%;
//                 height: 26.2rem;
//             }
//             .featured{
//                 .header-block{
//                     margin: 1rem 0;
//                 }
//                 .product_block{
//                     display: flex;
//                     flex-wrap: wrap;
//                     justify-content: center;
//                     background:#fff;
//                     // margin: 2rem 0;
//                     margin-top: 2rem;
//                     .block_img{
//                         width: 30%;
//                         img{
//                             width: 105px;
//                             height: 150px;
//                         }
//                     }
//                     .block-text{
//                         width: 70%;
//                         a{
//                             font-weight: 600;
//                             text-decoration: none;  
//                             color: #194e90;
//                             &:hover{
//                                 text-decoration: underline;
//                                 color: #01A2ED;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .row-product{
//             padding: 2rem;
//             width: 70%;
//             color: #55595c;
//             .row-product-select {
                
//                 .product-select{
//                     display: inline-block;
//                     i{
//                         color: #de198d;
//                         font-weight: 700;
//                         padding: 0 1rem;
//                     }  
//                     label{
//                         padding: 0 0 0 1rem ;
//                     }
//                     .under{
//                         color: #01A2ED;
//                     }
//                 }
//                 .choose-select{
//                     display: flex;
//                     justify-content: space-between;
//                     flex-wrap: wrap;
//                     font-size: 1.4rem;
//                     div{
//                         width: 25%;
//                     }
//                     .size{
//                         label{
//                             padding-left: 1rem;
//                         }
//                         select{
//                             padding: 1.5rem;
//                             border-radius: 0.5rem;
//                             color: rgb(85, 89, 92);
//                         }
//                         a{
//                             position: relative;
//                             margin: 0 2rem;
//                             img{
//                                 position: absolute;
//                                 top: 50%;
//                                 left: 50%;
//                                 transform: translate(-50%,-50%);
//                                 height: 4.6rem;
//                                 width: 4.6rem;
//                             }
//                         }
//                     }
//                     .color{
//                         label{
//                             padding-left: 1rem;
//                         }
//                         select{
//                             padding: 1.5rem ;
//                             padding-right: 5rem;
//                             border-radius: 0.5rem;
//                             color: rgb(85, 89, 92);
//                         }
//                     }
//                     .images{
//                         width: 20%;
//                         a{
//                             position: relative;
//                             margin: 0 2rem;
//                             img{
//                                 position: absolute;
//                                 top: 215%;
//                                 left: 50%;
//                                 transform: translate(-50%,-50%);
//                                 height: 2.4rem;
//                                 width: 2.4rem;
//                             }
//                         }
//                     }
//                     .button-price{
//                         position: relative;
//                         button{
//                             position: absolute;
//                             top: 50%;
//                             left: 50%;
//                             transform: translate(-50%,-50%);
//                             display: block;
//                             outline: none;
//                             border: none;
//                             a{
//                                 display: inline;
//                                 background: #de1982;
//                                 color: white;
//                                 border-radius: 1rem;
//                                 padding: 0.8rem 1.8rem;
//                         }
//                         }                      
//                     }
//                 }
//             }
//             .second-row{
//                 font-size:1.4rem;
//                 padding-top: 2rem;
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: space-between;
//                 align-items: center;
//                 .select-text{
//                     width: 33.3333333%;
//                     padding-top:  2rem;
//                     label{
//                         padding-left: 1rem;
//                     }
//                     select{
//                         padding: 1.5rem;
//                         border-radius: 0.5rem;
//                         color: rgb(85, 89, 92);
//                         option{
//                             padding: 0 3rem;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

    