footer {
  background: #01a2ed;
  padding: 3rem 0;
  color: #fff;

  ul {
    list-style-type: none;
  }
  .footer-col {
    padding: 2rem 1.5rem;

    .footer-col-title {
      font-size: 1.8rem;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }

    .footer-link,
    .footer-text {
      font-size: 1.3rem;
      color: #fff;
      text-decoration: none;
    }

    .footer-link:hover {
      text-decoration: underline;
    }
    .footer-social {
      display: block;
    }

    .twitter {
      background: #1b95e0;
      padding: 0 0.8rem;
      display: inline-block;
      margin-bottom: 1.5rem;
      border-radius: 0.4rem;

      &:hover {
        background: #106ba3;
        text-decoration: none;
      }

      i {
        margin-right: 1rem;
      }
    }
  }
}
@media (max-width: 1000px) {
  .footer-col {
    flex: 50%;
  }
}
