.info-product{
    background-color: #f3f3f6;
    margin-top: 8rem;
    .title-header-infoproduct{
        background: #e9e9f0;
        color: #01A2ED;
        padding: 25px 0 20px 0;
        position: relative;
        
        font-size: 16px;
        .container{
            h1{
                color: #01A2ED;
                font-size: 3rem;
                font-weight: 200;
            }
            .style-ul-first{
                font-size: 13px;
                margin: -3px 0 0;
                padding: 0;
                position: relative;
                display: inline-block;
                background: 0;
                border-radius: 0;
                list-style: none;
                li+li::before{
                    content: "/\00a0";
                    padding: 0 5px;
                    color: #ccc;
                }
                
                li{
                    display: inline-block;
                    
                    .active{
                        color: #01A2ED !important;
                    }
                    a{
                        &:hover{
                            text-decoration: underline;
                            color: #01A2ED !important;
                        }
                        color: #55595c !important;
                        text-decoration: none;

                    }
                    
                }
            }
        }
    }
    .wrap-top{
        padding-top: 4rem;
        padding-bottom: 6rem;
        background-color: #f3f3f6;
        .container{
            .pick{
                .row{
                    justify-content: center;
                }
            }
            .heading-pick{
                max-width: 50rem;
                margin-bottom: 2rem;
                h2{
                    font-size: 1.2em;
                    color: initial;
                    font-weight: 100;
                }
            }
            .option-content{
                .style-option{
                    display: flex;
                    max-width: 500px;
                    flex-direction: column;
                    .form-group{
                        &:last-of-type{
                            border-top: none;
                        }
                        border-top: 1px solid black !important;
                        margin-bottom: 0;
                        padding: 4px 15px;
                        margin-left: -6px;
                        margin-right: -17px;
                        display: flex;
                        justify-content: space-between;
                        .control-label{
                            font-size: 14px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            //fix label form-group
                            align-self: center;
                            //fix label form-group
                            line-height: 2.6em;
                            z-index: 1;
                            left: 25px;
                        }
                        .group-select{
                            float: none;
                            display: inline-block;
                            margin-left: 0; 
                            position: relative;
                            vertical-align: middle;
                    
                            .click-choose{
                                padding-top: 0;
                                padding-bottom: 0;
                                line-height: 2.6em;
                                background: transparent !important;
                                border: none;
                                color: initial !important;
                                padding-right: 40px;
                                box-shadow: none;
                                width: 100%;
                                cursor: pointer;
                                transition: 0.2s;
                                &:hover{
                                    border-color: #fbfbfa !important;
                                    color: #01A2ED !important;
                                }
                                .style-choose{
                                    display: inline-block;
                                    overflow: hidden;
                                    width: 100%;
                                    font-size: 16px;
                                    vertical-align: middle;
                                    .style-img{
                                        vertical-align: middle;
                                        margin-right: 8px;
                                        width: 30px;
                                    }
                                }
                                .bs-caret{
                                    line-height: 6px;
                                    .caret{
                                        position: absolute;
                                        right: 12px;
                                        vertical-align: middle;
                                        border-top: 8px solid;
                                        margin-top: 19px;
                                        border-right: 8px solid transparent;
                                        border-left: 8px solid transparent;
                                        color: #244078;
                                        cursor: pointer;
                                    }
                                }

                            }
                        }
                    }
                    .more-detail{
                        text-align: right;
                        padding-right: 30px;
                        span{
                            font-size: 13px;
                            color: initial !important;
                            padding-right: 10px;
                        }
                    }
                }
            }
            .edit-below-select{
                text-align: center;
                display: flex;
                flex-direction: column;
                .final-price{
                    display: flex;
                    flex-direction: column;
                    .bonus-price{
                        font-size: 2.8rem;
                        color: #de1982 !important;
                    }
                    .real-price{
                        font-size: 2.8rem;
                        color: #089B2B !important;
                    }
                    .old-price{
                        font-size: 1.3rem;
                        color: #55595c;
                        text-decoration: line-through !important;
                    }
                
                    
                }
                .free-delivery-container{
                    .style-free-delivery{
                        color: initial !important;
                        font-size: 0.7em !important;
                    }
                }
                .add-basket-btn{
                    width: 35%;
                    margin: 1.5rem 0;
                    background: #de1982;
                    border-color: #de1982;
                    text-decoration: none;
                    padding: 8px 18px;
                    color: #fff;
                    align-self: center;
                    border-radius: 4px;
                    &:hover{
                        background: #b5186e;
                        border-color: #b5186e;
                    }
                }
                .VAT{
                    color: #55595c;
                    font-weight: normal;
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                }
                .all-price-size{
                    margin-bottom: 5px;
                    font-size: 1.3rem;
                    cursor: pointer;
                    text-decoration: none;
                    color: #55595c;
                    &:hover{
                        color: #01A2ED;
                        text-decoration: underline;
                        
                    }
                }
            }
            .wrap-img{
                .product-img{
                    justify-content: center;
                    display: flex;
                    .style-prd-img{
                        width: 80%;
                        height: auto;
                        max-height: 400px;
                        border-radius: 2px;
                    }
                }
                .product-small-img{
                    margin-top: 0.8rem;
                    justify-content: center;
                    display: flex;
                    .style-prd-sm-img{
                            margin-left: 5px;
                            width: 6rem;
                            height: 6rem;
                    }
                }
            }
                
        }
    }
    .parallax{
        background-color: #235998;
        padding: 8rem 0;
        .parallax-content{
            color: white !important;
            text-align: center;
            .stye-parallax{
                

            }
        }
    }
    .choose-tab{

        .tab{
            border-radius: 6px;
            padding: 6rem 0;
            .nav-tab{
                border-bottom: 1px solid grey;
                list-style: none;
                display: flex;
                .active{
                    border-bottom: 3px solid #244078 !important;
                    a{
                        color: #2E363F;
                    }
                }
                li{
                    margin-bottom: -0.1rem;
                    letter-spacing: normal !important;
                    padding: 1.5rem 2.5rem;
                    a{
                        color: #194e90;
                        font-size: 15px;
                        text-decoration: none;
                        i{
                            padding-right: 0.8rem;
                        }
                    }
                }
            }
            .tab-content{
                padding: 17px;
                font-size: 16px;
            }
        }
    }

    .banner-cta{
        display: flex;
        background: #e9e9f0;
        padding: 3rem;
        justify-content: center;
        h2{ 
            color: #01A2ED;
            font-size: 20px;
            font-weight: 100;
            a{
                color: #194e90;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: #01A2ED;
                }
            }
        }
    }
    .table-price{
        flex-direction: column;
        background-color: #fff;
        padding: 2rem;
        display: flex;
        justify-content: center;
        .wrap-img-price{
            padding: 5rem;
            display: flex;
            justify-content: center;
            .style-img-price2{

                &:last-child{
                    margin-left: 10px;
                }
                height: 100%;
                max-height: 300px;
            }
            .style-img-price3{
                //fix
                margin-left: 10px;
                //fix
                max-width: 33%;
                height: 100%;
                max-height: 300px;
            }
            .style-img-price{
                    //fix
                    margin-left: 10px;
                    //fix
                max-width: 100%;
                height: 100%;
                max-height: 300px;

            }
        }

        .title-price{
            margin: 3rem 0;
            h2{
                display: flex;
                justify-content: center;
                color: #01A2ED;
                font-size: 22px;
                font-weight: 100;
            }
        }
    }
}