.search-heading{
    margin-top: 8rem;
    display: flex;
    padding: 1.5rem 10.5rem;
    color: #55595c;
    background: #F3F3F6;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    // margin:8rem 9rem 0 9rem;
    .title-page{
        padding: 0 1.5rem;
        h2{
            font-weight: 200;
            font-size: 22px;
            color: #01A2ED;
        }
    }
    .search__box{
        margin: 0 1.5rem;
        border: 2px solid #DE1982;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        a{
            display: block;
            height: 45px;
            width: 45px;
            // line-height: 10px;
            position: relative;
            background: #eeeeee !important;
            border: none;
            outline: none;
            background: none;
            i{
                font-size: 1.6rem;
                color: #55595c;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .search-text{
            border: none;
            outline: none;
            background: white;
            width: 500px;
            padding: 0 1rem;
            ::placeholder{
                color: #eeeeee;
                font-size: 13px;
            }
        }
    }
}
// @media only screen and (min-width: 1400px){
//     .search-heading{
//         max-width: 1170px;
//         margin-right: auto;
//         margin-left: auto;
//         padding-left: 15px;
//         padding-right: 15px;
//     }
//     .map-search{
//         max-width: 1170px;
//         margin-right: auto;
//         margin-left: auto;
//         padding-left: 15px;
//         padding-right: 15px;
//     }
// }
@media only screen and (max-width: 993px){
    .search-heading{
        padding: 1.5rem 1.5rem;
        .title-page{
            padding: 0;
        }
        .search__box{
            margin: 0;
        }
    }
}

// map
.map-search{
    display: flex;

    .studio__list{

        height: 500px;
        overflow: auto;
        padding-left: 2rem; 
        width: 40%;
        .location__title{
            color: #01A2ED;
            padding: 2rem 0 2rem 4rem; 
        }
        .studio__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #cccccc;

            .studio__info{
                width: 90%;
                display: flex;
                align-items: center;
                .studio__img{
                    width: 10%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .studio__hotline{
                    padding: 2rem;
                    font-size: 13px;
                    a{
                        color: #194e90;
                        font-size: 1.6rem;
                        text-decoration: none;
                        &:hover{
                            color: #01A2ED;
                            text-decoration: underline;
                        }
                    }
                    p{

                    }
                }
            }
            .studio__detail{
                
                width: 200px;
                display: flex;
                justify-content: flex-end;
                i{
                    padding-right: 2rem;
                    color: #cccccc;
                }
                position: relative;
                .more__view{
                    position: absolute;
                    top: 0;
                    right: 2rem;
                    a{
                        display: block;
                        background: #194e90;
                        padding: 1rem .5rem;
                        text-decoration: none;
                        color: white;
                        font-size: 1.3rem;
                        &:hover{
                            background: #01A2ED;
                        }
                    }
                }
            }
        }
    }


    .studio__map{
        // height: 100vh;
        // overflow-y: scroll;
        width: 60%;
        height: 500px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
@media only screen and (max-width: 1170px){
    .map-search{
        display: flex;
        flex-wrap: wrap;
        .studio__list{
            width: 100%;
        }
        .studio__map{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 767px){
    .map-search{
        .studio__list{
            .studio__item{
                .studio__info{
                    .studio__img{
                        display: none;
                    }
                }
            }
        }
    }
}