.header-top{
    color: #194e90;
    border-bottom: 0.5px solid #ccc;
    background: white;
    z-index: 999;
    position: sticky;
    top: 0;
    .header-top__inner{
        max-width: 1170px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 9rem;
        padding: 0 3rem;
        font-size: 13px;
        .contact_phone{
            display: flex;
            align-items: center;
            .icon-phone{
                i{
                    height: 13px;
                    width: 13px;
                    font-size: 13px;
                }
            }
            .number-phone{
                padding:0 3px;
                a{
                    color: #194e90;
                    text-decoration: none;
                    &:hover{
                        color: #428bca;
                        text-decoration: underline #428bca;
                    }
                }

            }
        }
        .nav-account{
            display: flex;
            align-items: center;
            .nav-account__block{
                display: flex;
                align-items: center;
                margin: 0 1rem 0 0;
                .nav-account__item{
                    // padding: 0 0 0 5px;
                    .nav-account__link{
                        color: #194e90;
                        text-decoration: none;
                        &:hover
                        {
                            color: #428bca;
                            text-decoration: underline #428bca;
                        }
                        .nav-account-icon{
                            height: 13px;
                            width: 13px;
                            font-size: 13px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.menu-nav{
    position: absolute;
    width: 100%;
    padding: 1.5rem 0;
    background: white;
    &::after{
        content: '';
        background: url('../../dist/assets/images/background-header.jpg');
        height: 3px;
        width: 100%;
        background-size: 100% 3px;
        position: absolute;
        bottom: -4px;
    }
}

@media only screen and (max-width: 993px){
    .menu-nav{
        padding: 0;
    }
}
// Sửa border psfix
.ps-fix{
    position: fixed !important;
    background: #ffffff;
    width: 100%;
    transition: all .5s ease;
    border-top: 0.5px solid #ccc;
    padding: 1.5rem 0 !important;
    &:after{
        content: '';
        background: url(../../dist/assets/images/background-header.jpg);
        height: 3px;
        width: 100%;
        background-size: 100% 3px;
        position: absolute;
        bottom: -4px;
    }
}
.navsticky{
    transition: all .5s ease;
    background: white;

    .navsticky__inner{
        overflow: visible !important;
    }
    z-index: 1000;
    position: sticky;
    top: 40px;
    .navsticky__inner{
        z-index: 1000;
        // margin: 0 6rem;
        padding: 0 1.5rem;
        // margin: 0 7%;
        // max-width: 960px;
        // width: 100%;
        // padding-right: 15px;
        // padding-left: 15px;
        // margin-right: auto;
        // margin-left: auto;
        .navbar{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: .5rem 0rem;
            // .nav__logo{
                // width: 20%;
            max-width: 1170px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 9rem;
            padding: 0 1.5rem;
            font-size: 13px;
            .nav-brand{
                display: inline-block;
                padding: 0.5rem 0;
                margin-right: 1rem;
                font-size: 1.25rem;
                line-height: inherit;
                white-space: nowrap;
                img{
                    vertical-align: middle;
                    max-width: 150px;
                    height: 60px;
                }
            }
            // }
            .nav-menu{
                z-index: 1000;
                font-size: 1.4rem;
                color: #666666;
                display: flex;
                flex-basis: auto;
                justify-content: flex-end;
                align-items: center;
                flex-grow: 1;
                // transition: 0.5s all;
                ul{                                     //ul of nav-menu
                    list-style-type: none;
                    transition: 0.5s all;
                    li{                                 //li of nav-menu
                        display: inline-block;
                        // border: 1px solid black;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        // transition: 0.5s all;            
                        .nav-sub{                               //this is nav-sub (ul)
                            z-index: 1000;
                            padding: 1rem 0;
                            // display: none;
                            pointer-events: none;
                            position: absolute;
                            top:100%;
                            left: 0;
                            opacity: 0;
                            background-color: #222;             //tại sao k ăn transition
                            -webkit-transition: 0.9s;
                            transition: 0.9s;
                            transition: 0.5s all;
                            li{                                 //li of nav-sub
                                display: block;
                                width: 22rem;
                                position: relative;
                                // transition: 0.5s all;
                                .nav-sub-left{
                                    z-index: 1000;               
                                    padding: 1rem 0;
                                    display: block;
                                    position: absolute;
                                    top:0%;
                                    right: 100%;
                                    opacity: 0;
                                    transition: 0.5s all;
                                    background-color: #222;
                                }                    
                                .nav-sub-right{
                                    z-index: 1000;               
                                    padding: 1rem 0;
                                    display: block;
                                    position: absolute;
                                    top:0%;
                                    left: 100%;
                                    opacity: 0;
                                    transition: 0.5s all;
                                    background-color: #222;
                                }
                                &:hover {
                                    .nav-sub-left{
                                        // transition: 0.5s all;
                                        display: block;
                                        opacity: 1;
                                    }
                                    .nav-sub-right{
                                        // transition: 0.5s all;                            
                                        display: block;
                                        opacity: 1;
                                    }
                                }
                                a{
                                    text-align: left;
                                    margin: 0 !important;
                                    padding: 5px 15px !important;
                                    color: #eae7e7;
                                    font-size: 13px;
                                    white-space: nowrap;
                                    // transition: 0.5s all;
                                    &:hover{
                                        // transition: 0.5s all;
                                        color: #194e90;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .nav-sub{
                                transition: 0.5s all;
                                // display: block;
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 1.4rem;
                            color: #4a6f8a;
                            margin: 0 1rem;
                            padding: 1rem 0;
                            transition: 0.5s color;
                            &:hover{
                                transition: 0.5s all;
                                color: #44ce6f;
                            }
                        }
                    }
                }
            }
        }
        .other{
            margin-left: 30px;
        }
    }
}
.navmobile{
    display: none;
    z-index: 1000;
    position: relative;
    top: 0px;
    color: #666666;
    .navmobile__inner{
        z-index: 1000;
        // padding: 0 1.5rem;
        // margin: 0 7%;
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 0rem;
            padding: 0.5rem 1.5rem;
            .nav-brand{
                display: inline-block;
                padding: 0.5rem 0;
                margin-right: 1rem;
                font-size: 1.25rem;
                line-height: inherit;
                white-space: nowrap;
                img{
                    vertical-align: middle;
                    max-width: 150px;
                    height: 60px;
                }
            }
            .nav-btn{
                position: relative;
                    .btn-toggle{
                        padding: 0;
                        display: flex;
                        font: inherit;
                        color: inherit;
                        text-transform: none;
                        margin: 0;
                        border:none;
                        cursor: pointer;
                        outline: none;
                        background-color:transparent;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        .wrapper-op-menu{
                            width: 30px;
                            height: 24px;
                            position: relative;
                            display: inline-block;
                            .icon-op-menu{
                                width: 30px;
                                height: 4px;
                                position: absolute;
                                border-radius: 3px;
                                display: block;
                                top: 50%;
                                margin-top: -2px;
                                background-color: #0e314c;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                &:before{
                                    content: "";
                                    width: 30px;
                                    height: 4px;
                                    position: absolute;
                                    border-radius: 3px;
                                    display: block;
                                    top: -7px;
                                    background-color: #0e314c;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                }
                                &:after{
                                    content: "";
                                    width: 30px;
                                    height: 4px;
                                    position: absolute;
                                    border-radius: 3px;
                                    display: block;
                                    bottom: -7px;
                                    background-color: #0e314c;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                }
                            }
                        }
                        &:focus{
                            outline: none;
                            border:none;
                        }
                    }
                    .clo-menu{
                        .wrapper-op-menu{
                            .icon-op-menu{
                                transform: rotate(225deg);
                                background-color: #0e314c;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                &:before{
                                    top: 0;
                                    opacity: 0;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    background-color: #0e314c;
                                }
                                &:after{
                                    bottom: 0;
                                    transform: rotate(-90deg);
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    background-color: #0e314c;
                                }
                            }
                        }
                    }
            }
        }
        .nav-menu{
            z-index: 1000;
            font-size: 1.4rem;
            color: #0e314c;
            flex-basis: auto;
            justify-content: flex-end;
            align-items: left;
            flex-grow: 1;
            background: white;
            ul{                                     //ul of nav-menu
                list-style-type: none;
                transition: 0.5s all;
                li{        
                    border-top: rgb(219,238,253) solid 0.3px;                         //li of nav-menu
                    display:block;
                    // border: 1px solid black;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    // transition: 0.5s all;            

                    a {
                        display: block;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.4rem;
                        color: #0e314c;
                        // padding: 0 4rem;
                        margin: 0 4rem;
                        padding: 1rem 0;
                        transition: 0.5s color;
                        text-align: left;
                        // width: 100%;
                    }
                }
            }
            .nav-sub{
                // transition: all 1s ease ;
                li{
                    padding-left: 4rem; 
                }
                .nav-sub-left{
                    transition: 0.5s ;
                    padding-left: 6rem;
                }
                .nav-sub-right{
                    // transition: 0.5s ;
                    padding-left: 6rem;
                }
            }
        }
        }   
}
@media only screen and (max-width: 990px){
    .navsticky{
        display: none;
    }
    .navmobile{
        display: block;
        .nav-menu{
            display: none;
            .nav-sub{
                display: none;
                .nav-sub-left{
                    display: none;
                }
                .nav-sub-right{
                    display: none;
                }
            }    
        }
    }
}
.nav-box{
    transition: all 1s ease;
}




@media only screen and (min-width: 1170px ){
    .header-top{
        .header-top__inner{
            margin-right: auto;
            margin-left: auto;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .navsticky{
        .navsticky__inner{
            .navbar{
                margin-right: auto;
                margin-left: auto;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

}
@media only screen and (max-width: 1130px ){
    .navigation{
        .container{
            .nav__menu{
                .nav__list{
                    .nav__item{
                        .nav__link{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 993px ){
    .header-top{
        .header-top__inner{
            margin: 0;
        }
    }
    .navsticky{
        .navsticky__inner
        {
            margin: 0;
        }
    }
    // menu
    .icon-search{
        display: none !important;
    }
    .nav__toggle{
        display: block !important;
        a{
            font-size: 1.9rem;
            color: #194e90;    
        }
    }
    .nav__menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        .nav__list{
            display: block !important;
        }
    }
}

@media only screen and (max-width: 767px ){
    .name-of-tag{
        display: none !important;
    }
    .nav-account__link{
        display: block;
        height: 40px;
        width: 40px;
        position: relative;
        border: 0.5px solid #ccc;
        position: relative;
        .nav-account__icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .nav-account__block{
        margin: 0 !important;
        &:last-child{
            margin-left: 1rem;
        }
    }

}