.new-product {
  background: url("../assets/images/new-product-bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 3.4rem;
  text-align: center;

  .new-product-img {
    margin: 0 auto;
    text-align: center;
    img {
      width: 50%;
    }
  }
  .new-product-title {
    font-size: 2.8rem;
    color: #244078;
    font-weight: normal;
  }


}
.new-product-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #de1982;
  border: 1px solid #de1982;
  display: inline-block;
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  transition: all ease 0.4s;
  &:hover {
    background: #b9176d;
  }
}
