.partner__title-big{
    padding-top: 30px; 
    padding-bottom: 30px; 
    letter-spacing: 1px; 
    line-height: 25px;
    text-align: center;
}
.partner__inner{
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: space-around;
    .partner__content{
        width: 60%;
        text-align: center;
        .partner__title{
            line-height: 20px;
            font-size: 14px;
            font-weight: 300;
            margin: 0px 0 10px 0;
            color: #888;
        }
        .partner__detail{
            font-family: "Open Sans";
            font-weight: 300;
            font-style: normal;
            font-size: 21px;
            letter-spacing: 0.1px;
            line-height: 32px;
        }
        .lastline{
            margin-bottom: 32px;
        }
    }
    .partner__img{
        width: 300px;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .icon-chevron{
        color: red;
        font-size: 3rem;
    }
    p{
        input{
            appearance: none;
            -webkit-appearance: none;
            border: 1px solid #ddd;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            color: #888;
            outline: none;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 13px;
            padding: 10px 15px;
            transition: all 0.2s ease 0s;
            -moz-transition: all 0.2s ease 0s;
            -webkit-transition: all 0.2s ease 0s;
            -o-transition: all 0.2s ease 0s;
            display: inline-block;
            width: 100%;
            height: 34px;
            max-width: 320px;
            line-height: 1.42857143;
            background-color: #fff;
            background-image: none;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
    }
}
.icon-chevron{
    color: red;
    font-size: 3rem;
    text-align: center;
}
.btn-submit{
    display: block;
    padding: 0.5rem 2rem;
    color: #E41182;
    background: #EBB5D2;
    text-decoration: none;
    transition: .3s;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    &:hover{
        color: white;
        background: #E41182;
        transition: .3s;
    }
}
.btn-submit-return{
    display: block;
    padding: 0.5rem 2rem;
    color: white;
    background: #E41182;
    text-decoration: none;
    transition: .3s;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    &:hover{
        color: #E41182;
        background: #EBB5D2;
        transition: .3s;
    }
}
.j-center{
    justify-content: center !important;
    .partner__img{
        width: 400px !important;
    }
}
.w-400{
    width: 400 !important;
}
.lastline{
    margin-bottom: 32px;
}
@media only screen and (max-width: 767px){
    .partner__inner{
        display: block;
        height: auto;
    }
    .j-center{
        display: none;
    }
    .partner__content{
        width: 100% !important;
    }
}
.become-partner__inner{
    display: flex;
    .become-partner__block {
        width: 25%;
        padding: 2rem;
        text-align: center;
        i{
            font-size: 5rem;
            color: #1E4D8C;
        }
        .become-partner__title{
            color: rgb(29, 76, 140);
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
        }
        .text-bold{
            font-weight: 700 !important;
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 767px){
    .become-partner__inner{
        flex-wrap: wrap;
        .become-partner__block {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 567px){
    .become-partner__inner{
        .become-partner__block {
            width: 100%;
        }
    }
}
.heritage_img{
    height: 200px;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.powers__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .powers__img{
        width: 16%;
        padding: 2rem;
        img{
            width: 100%;
            height: 150px;
        }
    }
}
@media only screen and (max-width: 993px){
    .powers__inner{
        .powers__img{
            width: 30%;
        }
    }
}
@media only screen and (max-width: 767px){
    .powers__inner{
        .powers__img{
            width: 50%;
        }
    }
}
// 
.partner__footer{
    background: #292929;
    text-align: center;
    // height: 300px;
    padding: 2rem 0 5rem 0;
    p{
        color: #888888;
    }

}
// 
.box-pricing{
    background-color: white;
    text-align: center;
    color: #0e314c;
    margin: 1rem 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    .pricing-title{
        padding: 2.5rem 0;
        border-bottom: 1px solid #eee;
        transition: all 1s ease;
        &:hover{
            transition: all 1s ease;
            background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
            color: white;
        }
    }
    .pricing-price{
        padding: 3rem 0;
        color: #44ce6f;
        border-bottom: 1px dashed #eee;
        span{
            font-size: 2.6rem;
            font-weight: 600;
            sup{
                font-weight: 500;
            }
            span{
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
    .pricing-main{
        ul{
            font-size: 1.4rem;
            li{
                list-style: none;
                padding: 1rem 0;
                border-bottom: 1px dashed #eee;
                font-weight: 500;
                color: #666666;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
    .pricing-footer{
        padding: 2rem 0;
        button{
            padding: 1.5rem 3rem;
            background-color: #44ce6f;   
        }
    }
}

.bg-active{
    color: white;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}

.btn-active{
    button{
        background-color: #c679e3 !important;
    }
}

@media (max-width: 576px){
    .bg-pricing{
        display: block !important;
    }
}
// 