.product-div {
  padding-top: 7.5rem;
  background-color: #e9e9f0;
  .container {
    .item {
      // padding-right: 4rem;
      // padding-bottom: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
