.search{
    padding: 140px 0;
    
}


.search-des-left-style{
    font-size: 35px;
    color: #244078;
    font-weight: normal;
}


.search-des-left h1{
    margin-bottom: 15px;
}


.search-field{
    max-width: 300px;
    .search-form-input{
        position: relative;
        display: flex;
        border-collapse: separate;
        .form-search-control{
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
            vertical-align: middle;
            height: 46px;
            padding: 12px;
            border: #e6e6e6 2px solid;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            background-image: none;
            &:focus{
                border-color: #c6c6c6 !important;
                box-shadow: none !important;
                outline: none;
            }
        }
        .search-btn-input{
            font-weight: normal;
            display: table-cell;
            .custom-search-btn{
                background:#de1982;
                border-color: #de1982;
                border-style: solid;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                padding: 8px 18px;
                color: #fff;
                text-shadow: none;
                margin-bottom: 0;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 0 4px 4px 0;
                &:hover{
                    background:  #b5186e;
                    border-color: #b5186e;
                }
            }
        }
    }
}



.below-search-field{
    margin-top: 60px;
    p{
        margin-top: 14px;
        margin-bottom: 20px;
        .custom-printingprice-btn{
            text-shadow: none;
            color: #fff;
            background:  #194e90;
            border-color: transparent;
            text-decoration: none;
            padding: 8px 18px;
            border-radius: 4px;
            font-weight: normal;
            transition: 0.2s;
            &:hover{
                background: none repeat scroll 0 0 #01A2ED;
                color: white;
            }
        }
        .search-small-des{
            color: #194E90;
            font-size: 22px;
        }
        .link-nearest-studio{
            background-color: #ffffff!important;
            color: #194e90 !important;
            border-color: #ffffff!important;
            text-decoration: none;
            padding: 8px 18px;
            font-size: 17px;
            transition: 0.2s;
            &:hover{
                background-color: #fbfbfa !important;
                border-color: #fbfbfa !important;
                color: #01A2ED !important;
            }
        }
    }
}




.style-search-right-content{
    text-align: center;
    margin: 4px 0 20px 0;
    display: flex;
    flex-direction: column;
    a{
        cursor: pointer;
        text-decoration: none;
    }
    .style-img-search-right{
        width: 90%;
        height: auto;
    }
    .style-text-search-right{
        a:hover{
            text-decoration: underline;
            color: #01A2ED;
        }
        font-size: 22px;
        span{
            color:#e58218;
        }
    }
}