.basket {
  background: #d9e0e7;
  padding: 8rem 1.5rem 0;

  a {
    text-decoration: none;
  }
  .basket-checkout-btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 0.5rem;
    background: #de1982;
    border: 1px solid #de1982;
    &:hover {
      background: #b4166a;
    }
    i {
      margin: 0 0.5rem;
    }
  }
  .basket-header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
      font-size: 3.5rem;
      font-weight: normal;
      color: #244078;
    }
  }
  .basket-content {
    background: #fff;
    .content-header {
      border-radius: 0.4rem;
      padding: 1.2rem;
      background: #244078;
      color: #fff;
      font-size: 1.6rem;
      .basket-desc {
        text-align: center;
      }

      .basket-total {
        text-align: right;

        i {
          font-size: 2.3rem;
          margin: 0 0.5rem;
        }
      }
    }
    .content-body {
      padding: 1.2rem;

      .basket-desc-content {
        padding: 0 1rem;
        .product-name {
          font-size: 1.8rem;
          color: #707478;
          font-weight: normal;
          i {
            color: #244078;
            font-size: 2rem;
            margin: 0 0.4rem;
          }
        }
        .prod-desc {
          a {
            font-size: 1.2rem;
            color: #194e90;
          }
          p {
            color: #707478;
            font-size: 1.2rem;
            margin: 0.5rem 0;
          }
          .update-title {
            font-size: 1.6rem;
            color: #f59c1a;
          }
          .reference-title {
            font-size: 1.6rem;
          }
        }
      }
      .basket-total-content {
        padding: 1.2rem;
      }
      .basket-delivery-content {
        p {
          font-size: 1.3rem;
        }
        select {
          width: 100%;
        }
      }
      select {
        padding: 0.5rem 1rem;
        color: #555;
        border: 1px solid #bec0c4;
        border-radius: 0.5rem;
      }
      .basket-total-content {
        text-align: right;
      }
    }
    .btn-artwork {
      background: #f59c1a;
      border: 1px solid #f59c1a;
      color: #fff;
      font-size: 1.7rem;
      padding: 0.6rem 1.2rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      display: inline-block;
      &:hover {
        background: #ce871d;
      }
    }
    .text-center {
      text-align: center;
    }
  }
  .basket-checkout {
    .basket-checkout-inner {
      background: #fff;
      form {
        padding: 1.5rem;
      }

      label {
        font-size: 1.5rem;
        color: #707478;
        margin-bottom: 0.5rem;
      }
      .basket-coupon {
        input[type="text"] {
          padding: 0.4rem 1.2rem;
          border: 1px solid #ccc;
          font-size: 1.4rem;
        }
        input[type="submit"] {
          background: #ddd;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
          margin-left: 0.5rem;
          border: 1px solid transparent;
        }
      }
      .checkout-total {
        padding: 1.5rem;
        font-size: 1.6rem;
        background: #244078;
        color: #fff;

        .total {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .ml-auto {
    margin-left: auto;
  }
  .basket-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;

    .basket-back-btn {
      background: #fff;
      padding: 0.6rem 1.2rem;
      color: #194e90;
      font-size: 1.7rem;
      border-radius: 0.4rem;
      margin: 0.5rem 0;
      &:hover{
        background: #ccc;
      }
      i {
        margin: 0 0.5rem;
      }
    }
  }
}
@media (max-width: 992px) {
  .basket-header {
    .basket-checkout-btn {
      display: none;
    }
  }
  .content-header {
    display: none;
  }

  .basket-preview,
  .basket-checkout-inner,
  .basket-desc-content,
  .basket-quantity-content,
  .basket-delivery-content,
  .basket-total-content {
    display: block;
    width: 100%;
  }
}
