.supply{
    background: #f1f2f7;
    .title_header_supply{
        padding-top: 9rem;
        background: #e9e9f0;
        form{
            text-align: center;
            .ui-autocomplete-input{
                display: inline;
                line-height: 1.3em;
                opacity: 0.8;
                color: #aaa;
            }
            input{
                padding: 8px;
                vertical-align: middle;
                opacity: 0.5;
            }
        }
        .title_bar{
            padding-left: 2rem;
            .info{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                .info-img{
                    width: 9rem;
                    img{
                        border-radius: 50%;
                    }
                }
                .info-text{
                    font-size: 1.5rem;
                    text-align: left;
                    width: 70%;
                    .ig{
                        color: black;
                        // font-weight: 600;
                    }
                    a{
                        text-decoration: none;
                        color: #55595C;
                        padding-bottom: 0.2rem;
                        font-size: 1.5rem;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }   
    }
}
.contain{
    // background: #f3f3f6;
    // text-align: center;
    padding-top: 2rem;
    .detail{
        background: #e9e9f0;
        // margin: 2rem;
        padding: 3rem;
    }
    h3{
        color: #01A2ED;
        font-weight: 400;
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .block-containt{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .block-icon{
            width: 9rem;
            font-size: 8rem;
            color: #f1f2f7;
        }
        .block-text{
            width: 70%;
            padding-top: 1rem;
            h3{
                color: #194e90;
            }
            a{  
                font-size: 1.2rem;
                color: #55595C;
                text-decoration: none;
            }
        }
        &:hover{
            background: #f1f2f7;
            border-radius: 2rem;
        }
    }
}

