
.table-heading{
    width: 100%;
    overflow: auto;
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            border-bottom: 1px solid #ccc;
        }
    }
    td,th{
        padding: .8rem .5rem;
        text-align: left;
        color: #111;
        min-width: 65px;
        white-space: nowrap;
        font-size: 16px;
        font-weight: normal;
        transition: all .3s ease;
        .img-1{
            position: relative;
            z-index: 2;
            
        }
        .img-2{
            position: relative;
            left: -7px;
            
        }
        span{
            font-size: 12px;
            text-decoration: line-through;
        }
        .colour-area{
            font-size: 14px;
            text-decoration: none;
            padding-left: 8px;
        }
        .text-ps{
            position: relative;
            top: -5px;
        }
        .text-sp{
            text-decoration: none;
            font-size: 12px;
            display: block;
        }
    }
    .border-bottom{
        border-bottom: 1px solid #ccc;
    }
    td:not(:first-child):not(:nth-child(2)){
        &:hover{
            background-color: #f1f1f1;
            cursor: pointer;
            transition: all .3s ease;
        }
    }
    .last-child{
        padding: 0;
    }
    select{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        color: #111;
    }
}

@media (max-width: 768px){
    .table-heading{
        display: none;
    }
}