$title-color: #44b9f0;
$link-color: #194e90;
$price-color: #089b2b;
$new-price-color: #de1982;
$old-price-color: #55595c;
$background-color: #f3f3f6;
$callout-background: #244078;

// .container {
//   background: $background-color;
// }
.thebigofthing {
  padding-bottom: 60px;
  background-color: $background-color;
  h3 {
    color: $title-color;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 3.2rem;
  }

  h4 {
    font-weight: 2;
    margin-bottom: 1.5rem;
    color: $title-color;
  }

  ul {
    margin-bottom: 1rem;
    padding-left: 5rem;
    font-size: 1.4rem;
  }

  a {
    &:hover {
      color: $title-color;
      text-decoration: underline;
    }
    text-decoration: none;
    color: $link-color;
  }

  .price {
    color: $price-color;
  }

  .new-price {
    color: $new-price-color;
  }

  .old-price {
    text-decoration: line-through;
    color: $old-price-color;
  }

  .callout-text {
    color: white;
    font-size: 1.5rem;
  }

  button {
    font-size: 1.6rem;
    margin-top: 1.4rem;
    background-color: #de1982;
    border: none;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 1rem;
  }

  .callout {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $callout-background;
    padding-top: 36px;
    padding-bottom: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
}
// .row {
//   display: flex;
//   justify-content: center;
//   padding-left: 10rem;
//   padding-right: 10rem;
// }

// .col-md-4 {
//   flex-basis: auto;
//   padding-right: 4rem;
// }
