.text-info{
    padding-top: 8rem;
    padding-bottom: 5rem;
    margin: 0 3rem;
    h1, h3{
        color: #01A2ED;
        font-weight: 400;
    }
    p{
        padding-left: 3rem ;
    }
    ul{
        li{
            list-style: none;
            padding-left: 3rem ;

        }
    }
    h4{
        font-weight: 400;
    }
    .catalogue{
        padding-left: 5rem;
        li{
            list-style: disc;
            .bat{
                li{
                    list-style: none;
                }
                li::before{
                    content: "+ "
                }
            }
            
        }
    }
    
}