.trusted{
    background: #f1f1f1;
    color: #55595C;
    text-align: center;
    h1{
        color: #01A2ED;
        font-weight: 400;
        font-size:4.5rem;
        padding: 2rem;
    }
    .testimonials{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .testimonial{
            width: 25%;
            padding: 2.3rem;
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            a{
                text-decoration: none;
                color: #194e90;
                margin: 0 1rem 0;
                h3{
                    padding-top: 1rem;
                }
            }
            a:hover{
                text-decoration: underline;
                color: #01A2ED;
            }
        }
    }
}
@media only screen and (max-width: 993px){
    .trusted{
        .testimonials{
            .testimonial{
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .trusted{
        .testimonials{
            .testimonial{
                width: 100%;
            }
        }
    }
}