//- Component 1

.text-center.animated(style='background-image: linear-gradient(to right, transparent, transparent), url("../../../dist/assets/images/663038.jpg"), url("../../../dist/assets/images/662941.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll, scroll, fixed; background-size: cover, cover; min-height: 850px; padding-top: 70px; padding-bottom: 50px; visibility: visible; animation-name: fadeIn;', nettl-droppable='row')
  .container
    .col-md-12.col-sm-12.editing(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 50px 15px 400px;', nettl-droppable='column')
      .css-wrapper(style='text-align:right')
        svg(style='height: 30px; width: 30px; fill: rgb(136, 136, 136); display: inline-block;', x='0px', y='0px', width='48px', height='48px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
          rect(x='2', y='10', fill='#3F51B5', width='44', height='28')
          g
            polygon(fill='#FFFFFF', points='2,14.216 22.81,26.935 25.939,21.815 6.608,10 2,10 	')
            polygon(fill='#FFFFFF', points='46,10 42.391,10 23.061,21.814 26.189,26.935 46,14.826 	')
            polygon(fill='#FFFFFF', points='26.189,20.271 23.061,25.391 43.691,38 46,38 46,32.379 	')
            polygon(fill='#FFFFFF', points='2,32.991 2,38 5.31,38 25.939,25.392 22.811,20.271 	')
            rect(x='2', y='20', fill='#FFFFFF', width='44', height='8')
            rect(x='20', y='10', fill='#FFFFFF', width='8', height='28')
          g
            polygon(fill='#E53935', points='17.218,20 2,10.699 2,13.043 13.382,20 	')
            polygon(fill='#E53935', points='44.309,10 27.947,20 31.782,20 46,11.311 46,10 	')
            polygon(fill='#E53935', points='33.082,28 46,35.895 46,33.551 36.917,28 	')
            polygon(fill='#E53935', points='15.918,28 2,36.506 2,38 3.392,38 19.753,28 	')
            rect(x='2', y='22', fill='#E53935', width='44', height='4')
            rect(x='22', y='10', fill='#E53935', width='4', height='28')
      p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(255, 255, 255); font-weight: 300; font-style: normal; letter-spacing: 5px; font-size: 15px;', contenteditable='false')
        | AN OPPORTUNITY TO LICENCE
        br
      .spacer-15
    .col-md-12.col-sm-12(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 100px 15px 0px;', nettl-droppable='column')
      p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); font-weight: 600; font-style: normal; letter-spacing: 0px; font-size: 19px; font-family: Rock Salt; margin-bottom: 3px;', contenteditable='false')
        span(style='font-weight: normal;') Exclusively
        br
      p.h4(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(29, 76, 140); font-weight: 600; font-style: normal; letter-spacing: 5px; font-size: 15px; font-family: Open Sans; margin-bottom: 40px;', contenteditable='false')
        span(style='font-weight: normal;') IN YOUR TOWN
        br
      a.cs-animates-btn(target='', style='font-size: 14px; background-color: rgb(227, 0, 122); color: rgb(255, 255, 255); border-radius: 4px; border-width: 4px; border-color: rgb(227, 0, 122); margin-bottom: 0px; letter-spacing: 0px; font-family: "Open Sans";', href='/index#7ec9cd95-9028-c2ee-0476-63fbdf0bac90', contenteditable='false') Explore the opportunity
      .spacer-15

//- Component 2

.row.team-carousel(nettl-droppable='row', style='padding-top: 41px; padding-bottom: 0px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../dist/assets/images/663307.jpg); background-repeat: no-repeat; background-position: center center; background-attachment: scroll, fixed; min-height: 200px; background-size: cover, cover;')
  .container.text-center
    .col-sm-12.col-md-12.editing(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 40px 15px 0px;', nettl-droppable='column')
      h3(style='margin-bottom: 36px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(255, 255, 255);', contenteditable='false')
        | Use the printing.com brand to grow your business
        br
      a.cs-animates2-btn(href='img/828162.pdf', style='letter-spacing: 0px; color: rgb(245, 245, 245); background-color: rgba(255, 240, 240, 0.13); font-size: 15px; border-color: rgb(255, 255, 255); margin-bottom: 58px;', target='', contenteditable='false') Download Prospectus
      a(target='', href='#')

//- Component 3
.row.overlay-dark(nettl-droppable='row', style='background-image: linear-gradient(to right, rgba(28, 28, 28, 0.75), rgba(28, 28, 28, 0.75)), url(../../../dist/assets/images/663135.jpg); background-size: cover, cover; background-repeat: no-repeat; background-position: center center; background-attachment: scroll, fixed; min-height: 100px; padding-top: 50px; padding-bottom: 50px;')
  .container.text-center.d-flex
    .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
      h1(style='text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;', contenteditable='false') 17
      h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
        | years of brand heritage
        br
    .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
      h1(style='text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;', contenteditable='false') 5
      h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
        | countries with studio networks
        br
    .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
      h1(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01);', contenteditable='false')
        | 1M
        br
      h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
        | website sessions per year
        br
    .col-lg-3.col-md-3.col-sm-6.col-12(style='visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-iteration-count: 1; animation-name: pulse;', data-wow-iteration='1', data-wow-offset='0', data-wow-delay='0s', data-wow-duration='0.7s', nettl-droppable='column')
      h1(style='text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01);', contenteditable='false')
        | 500K
        br
      h6(style='margin-bottom: 30px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); letter-spacing: 0px;', contenteditable='false')
        | visitors per year
        br
