.container
    h1 Sản phẩm bán chạy nhất của chúng tôi
    #owl-demo.owl-carousel.owl-theme.mt-3.row1
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/5.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Menu giấy
                    a(href="#") 400gsm silk + biodegradable matt laminate + spot gloss highlights
                .row.box-bt
                    .text-bt-slider từ
                        span £1
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/6.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") NameCard
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/7.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Phong thư
                    a(href="#") 400gsm silk + biodegradable matt laminate + spot gloss highlights
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/8.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Thiệp cưới
                    a(href="#") 400gsm silk + biodegradable matt laminate
                .row.box-bt
                    .text-bt-slider từ
                        span £1
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/9.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Tiêu đề thư
                    a(href="#") 400gsm silk + biodegradable matt laminate
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/10.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Tờ rơi
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider Từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/11.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Túi đựng thực phẩm
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/12.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Túi giấy
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/13.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Voucher
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/14.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Hộp giấy
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/15.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Chứng nhận
                    a(href="#") 600gsm uncoated
                .row.box-bt
                    .text-bt-slider từ
                        span £2 
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#")  Xem tất cả các mẫu >
        .item.d-flex-box
            .box-slider
                .box-img-slider
                    img(src="../../../dist/assets/images/web/16.jpg", alt="selling")
                    .text-box-img
                        span
                            i.fas.fa-eye
                        span Product detail
                .text-box
                    h4
                        a(href="#") Bao lì xì
                    a(href="#") 200g
                .row.box-bt
                    .text-bt-slider từ
                        span £2
                    a.btn-slider(href="../../../dist/html/pages/buyProduct.html") Mua ngay >
            a.text-bottom(href="#") Xem tất cả các mẫu >
    .text-center
        a.new-product-btn(href="#") Xem tất cả sản phẩm >