section.parallax-choose
    .container
        .title-choose.mg-b3
            h1 Tạo sao các bạn nên chọn chúng tôi?
                
        .row
            .col-lg-3.col-md-6.col-sm-12.pd-3
                .choose-box
                    .box
                        .img-icon-choose
                            img(src="../../.././dist/assets/images/choose/local.png")
                        h4.mg-b3 Uy tín
                        p.mg-y4 Giao đúng hạn, đúng sản phẩm, đúng chất lượng, đúng yêu cầu
            .col-lg-3.col-md-6.col-sm-12.pd-3
                .choose-box
                    .box
                        .img-icon-choose
                            img(src="../../.././dist/assets/images/choose/connect.png")
                        h4.mg-b3 Chất lượng
                        p.mg-y4 Đạt tiêu chuẩn đúng theo thỏa thuận với khách hàng và đúng hợp đồng
            .col-lg-3.col-md-6.col-sm-12.pd-3
                .choose-box
                    .box
                        .img-icon-choose
                            img(src="../../.././dist/assets/images/choose/connect2.png")
                        h4.mg-b3 Tận tâm
                        p.mg-y4 Khách hàng là thượng đế
                            a(href="#") TrustPilot.
            .col-lg-3.col-md-6.col-sm-12.pd-3
                .choose-box
                    .box
                        .img-icon-choose
                            img(src="../../.././dist/assets/images/choose/fast.png")
                        h4.mg-b3 Thân thiện
                        p.mg-y4 Phục vụ hết mình vì khách hàng
        .button-choose
            p
                a(href="#") Tìm studio gần nhất của bạn >
