footer
    .footer-inner.container
        .footer-row.row
            .col-md-2.footer-col
                h4.footer-col-title Thiết kế & In ấn
                ul.footer-col-content
                    li
                        a.footer-link(href="#") Danh thiếp
                    li
                        a.footer-link(href="#") Màn vải
                    li
                        a.footer-link(href="#") Cờ
                    li
                        a.footer-link(href="#") Phong thư
                    li
                        a.footer-link(href="#") Tờ rơi
                    li
                        a.footer-link(href="#") Bưu thiếp
                    li
                        a.footer-link(href="#") Tờ rơi
                    li
                        a.footer-link(href="#") Danh mục
                    li
                        a.footer-link(href="#") Giá in ấn
                    li
                        a.footer-link(href="#") Tải lên file của bạn
                    
            .col-md-2.footer-col
                h4.footer-col-title Giúp đỡ & Hỗ trợ
                ul.footer-col-content
                    li
                        a.footer-link(href="#") Về chúng tôi
                    li
                        a.footer-link(href="#") Đánh giá khách hàng
                    li
                        a.footer-link(href="#") Môi trường và chúng tôi
                    li
                        a.footer-link(href="#") Hỏi và đáp
                    li
                        a.footer-link(href="#") Cam kết
                    li
                        a.footer-link(href="#") Thanh toán và tài khoản
                    li
                        a.footer-link(href="#") Đổi trả và Hoàn lại
                    li
                        a.footer-link(href="#") Giúp đỡ
                    li
                        a.footer-link(href="#") Thông tin nhà đầu tư
            .col-md-2.footer-col
                h4.footer-col-title Hợp pháp
                ul.footer-col-content
                    li
                        a.footer-link(href="#") Giao hàng và Sưu tập
                    li
                        a.footer-link(href="#") Điều khoản và điều kiện
                    li
                        a.footer-link(href="#") Chính sách pháp lí
                    li
                        a.footer-link(href="#") Chính sách
                    li
                        a.footer-link(href="#") Chính sách hoàn tiền
                    li
                        a.footer-link(href="#") Điều khoản sử dụng
            .col-md-2.footer-col
                h4.footer-col-title Liên kết khác
                ul.footer-col-content
                    li
                        a.footer-link(href="#") Tìm cửa hàng
                    li
                        a.footer-link(href="#") Tham gia với chúng tôi
                    li
                        a.footer-link(href="#") Giải pháp in trên web
                    li
                        a.footer-link(href="#") Blog
            .col-md-4.footer-col
                a.footer-link.footer-social(href="#") Thích chúng tôi trên Facebook
                a.footer-link.footer-social.twitter(href="#")
                    <i class="fab fa-twitter"></i>
                    span Theo dõi @printingdotcom
                a.footer-link.footer-social(href="#") Theo dõi trên Twitter
                p.footer-text Giá trên đã bao gồm thuế VAT, thiết kế và in ấn.