extends ../layouts/layout.pug
block main-content
    .text-info 
        h1 In phông bạt
        br
        p In phông bạt là một trong những hình thức quảng cáo hiệu quả đã và đang được doanh nghiệp ứng dựng rộng rãi hiện nay. Với thiết kế ấn tượng góp phần thu hút sự chú ý của khách hàng mang đến hiệu quả tiếp thị hiệu quả cho doanh nghiệp.
        br
        ul.catalogue
            li In phông bạt hiflex phục vụ quảng cáo
            li In bạt hiflex làm bảng hiệu
            li In phông bạt giá rẻ làm băng rôn
            li In Pano khổ lớn
            li In phông bạt phục vụ sự kiện
            li In bạt cho hội chợ
            li In phông sân khấu (backdrop) cho tiệc cưới, hội thảo, hội nghị