section.header-top
    .header-top__inner
        .contact_phone
            .icon-phone
                i.fas.fa-phone
            .number-phone
                a(href="#") 0080 19 555 90
                //- img(src="../../dist/assets/images/Untitled-1.png", alt="")
        .nav-account
            .nav-account__block 
                .nav-account__item
                    a(href="../../../dist/html/pages/sign-in.html").nav-account__link 
                        i.fas.fa-sign-in-alt.nav-account__icon 
                        span.name-of-tag    Đăng Nhập
            .nav-account__block
                .nav-account__item
                    a(href="../../../dist/html/pages/register.html").nav-account__link
                        i.fas.fa-user.nav-account__icon
                        span.name-of-tag    Đăng Ký
            .nav-account__block
                    
                .nav-account__item
                    a(href="../../../dist/html/pages/shoppingCart.html").nav-account__link
                        i.fas.fa-shopping-cart.nav-account__icon 
                        span.name-of-tag    Giỏ Hàng
            .nav-account__block
                .nav-account__item
                    a(href="#" style="margin-left:10px")
                        img(src="https://ssl.prcdn.com/uk/CategoryPages/themes/cumulus/assets//images/flags/gb.png?1482315949", alt="")


section.menu-nav
    .navmobile
        .navmobile__inner
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../../dist/assets/images/nav-logo.png", alt="logo")
                .nav-btn
                    button.btn-toggle
                        span.wrapper-op-menu
                            span.icon-op-menu
            .nav-menu
                ul
                    li
                        a(href="../../../dist/html/pages/mapSearch.html") Tìm địa chỉ gần bạn
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Sản phẩm ▼
                        ul.nav-sub
                            li    
                                a(href="../../../dist/html/pages/product-page.html") Tất cả các sản phẩm
                            li    
                                a(href="#") Chính sách in
                            li    
                                a(href="#") Thông tin giấy in
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Thiết kế theo yêu cầu ▼
                        ul.nav-sub
                            li
                                a(href="../../../dist/html/pages/thietkehoadon.html") Thiết kế hoá đơn
                            li    
                                a(href="../../../dist/html/pages/thietkebat.html") Thiết kế bạt
                            li    
                                a(href="../../../dist/html/pages/inbat.html") In bạt
                            li    
                                a(href="../../../dist/html/pages/thietkecatalogue.html") Thiết kế catalogue
                            li    
                                a(href="../../../dist/html/pages/thietkebaobi.html") Thiết kế bao bì
                    .nav-box
                        li.nav-dropdown
                            a(href="../../../dist/html/pages/partner.html") Đối tác   
                    .nav-box
                        li.nav-dropdown
                            a(href="../../../dist/html/pages/index.html") Home
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Trợ giúp ▼
                        ul.nav-sub
                            li
                                a(href="../../../dist/html/pages/FAQ.html") FAQ
                            li
                                a(href="../../../dist/html/pages/supply.html") Supply
                            li
                                a(href="#") Blog Details 
    .navsticky
        .navsticky__inner
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../../dist/assets/images/nav-logo.png", alt="logo")
                .nav-menu
                    ul
                        li.nav-dropdown
                            a(href="../../../dist/html/pages/mapSearch.html") Tìm địa chỉ gần bạn 
                        li.nav-dropdown
                            a(href="#") Sản phẩm ▼
                            ul.nav-sub
                                li
                                    a(href="../../../dist/html/pages/product-page.html") Tất cả các sản phẩm
                                li    
                                    a(href="#") Chính sách in
                                li    
                                    a(href="#") Thông tin giấy in
                                
                        li.nav-dropdown
                            a(href="#") Thiết kế theo yêu cầu ▼
                            ul.nav-sub
                                li
                                    a(href="../../../dist/html/pages/thietkehoadon.html") Thiết kế hoá đơn
                                li    
                                    a(href="../../../dist/html/pages/thietkebat.html") Thiết kế bạt
                                li    
                                    a(href="../../../dist/html/pages/inbat.html") In bạt
                                li    
                                    a(href="../../../dist/html/pages/thietkecatalogue.html") Thiết kế catalogue
                                li    
                                    a(href="../../../dist/html/pages/thietkebaobi.html") Thiết kế bao bì

                        li.nav-dropdown
                            a(href="../../../dist/html/pages/partner.html") Đối tác 
                        li.nav-dropdown
                            a(href="../../../dist/html/pages/index.html") Home
                        li.nav-dropdown
                            a(href="#") Trợ giúp ▼
                            ul.nav-sub
                                li
                                    a(href="../../../dist/html/pages/FAQ.html") FAQ
                                li
                                    a(href="../../../dist/html/pages/supply.html") Supply
                                li
                                    a(href="#") Blog Details                                    
                .search
                    a(href="#")  <i class="fas fa-search"></i>                             