section.new-product
    .new-product-inner.container
        .new-product-img
            img(src="../../assets/images/new-product.png", alt="")
        h3.new-product-title NEW Exhibit Guide – OUT NOW
        p.new-product-text Sometimes it’s not just what you say, it’s how you look when you’re saying it.
        a.new-product-btn(href="#") Download today >
