section.order
    .payment-title
        h2.container Easily order online
    .container
        .order-content
            p.payment-answer We know you’e busy. We know that running your business demands most of your attention. That’s why we’ve developed a suite of online tools to make your life easier. Once you sign in, your printing.com account gives you access to your full order history, including a browsable gallery of your previous designs. You can track your order progress in real time, print off your invoices or find out where the courier is. If you need to approve artwork on the move, ask us about BulletProof. Oh, and you might be surprised how easy it is to place new orders online.

            .order-img
                img(src="../../assets/images/order.png", alt="" width="100%")
            h4.payment-question Want some help ordering online?
            p.payment-answer We’ve tried to make the ordering online process as easy as possible, by helping you buy products in three ways:
            h4.payment-question 1. Browse templates online
            p.payment-answer There are thousands of ready-made designs on our website that you can select and edit. Click to see our design catalogue, then you can select filters on the left-hand side to help you find the best design for your needs. Once you’ve found a design you like, click on it, you can see more information including, who designed it, how much it costs and what products it is suitable for. We also suggest similar designs you might like. Click on the design and you can edit the text and image. We also provide a guidance if you need help editing templates?
            h4.payment-question 2. Upload your files
            p.payment-answer If you’d rather use a bespoke, custom-made design, you can simply pick the product you want from our printing prices page. Click on the product, choose your specifications such as page size and finishing options, and add to your basket. You’ll then be asked to upload your files. If you’ve already got an account with us, you can also select your product here. Need more help uploading files?
            h4.payment-question 3. Contact your local studio
            p.payment-answer We also have studios set up across the country to help you order products. If you’d like to use their services, find your nearest studio and contact them directly.
            a.new-product-btn(href="#") Find your local studio >