section.payment
    .payment-title
        h2.container Hỏi và Đáp
    .container
        .payment-content
            .row.payment-row
                .col-md-8.payment-col
                    .payment-item
                        h4.payment-question Hình thức thanh toán?
                        p.payment-answer Bạn có thể thanh toán online thông qua một trong những hình thức thanh toán được tích hợp: Paypal, Internet Banking. Chúng tôi chấp nhận Visa Debit, Mastercard, American Express và Visa Credit. Nếu bạn muốn thanh toán bằng hình thức khác, vui lòng chọn ở màn hình thanh toán. Chú ý chúng tôi chỉ thực hiện giao hàng khi nhận được thanh toán.
                    .payment-item
                        h4.payment-question Nếu tôi có câu hỏi về hóa đơn và thanh toán, tôi phải làm gì?
                        p.payment-answer Vui lòng liên hệ với chúng tôi qua email hoặc số điện thoại. Để lấy hóa đơn vui lòng đăng nhập và xem ở phần Hóa đơn.
                    .payment-item
                        h4.payment-question Làm sao tôi lấy hóa đơn VAT?
                        p.payment-answer Chúng tôi sẽ tự động gửi hóa đơn VAT ngay khi bạn thực hiện thanh toán thành công. Để thanh đổi địa chỉ email nhận hóa đơn, vui lòng đăng nhập và chọn trong phần cài đặt. Để lấy hóa đơn, click 
                    .payment-item
                        h4.payment-question Hãy chọn loại giấy phù hợp để truyền tải thông điệp
                        p.payment-answer “Chọn giấy trước, thiết kế sau” chính là bí quyết của phần này. Ngay từ khi bắt đầu triển khai, hãy chọn loại giấy phù hợp với mục đích mà doanh nghiệp hướng đến. Vấn đề mấu chốt ở đây là hãy ngồi lại và bàn bạc với bên thiết kế, đi đến một sự thống nhất để ý tưởng và thông điệp truyền thông trở nên hiệu quả trên sản phẩm in ấn.“Chọn giấy trước, thiết kế sau” chính là bí quyết của phần này. Ngay từ khi bắt đầu triển khai, hãy chọn loại giấy phù hợp với mục đích mà doanh nghiệp hướng đến. Vấn đề mấu chốt ở đây là hãy ngồi lại và bàn bạc với bên thiết kế, đi đến một sự thống nhất để ý tưởng và thông điệp truyền thông trở nên hiệu quả trên sản phẩm in ấn.
                    .payment-item
                        h4.payment-question Cân nhắc lựa chọn định lượng của giấy
                        p.payment-answer Có một sự thật là khách hàng thường có xu hướng bị gây ấn tượng và tin tưởng hơn với những sản phẩm in ấn có trọng lượng, cầm “đầm tay”. Khi có sản phẩm in ấn như vậy, doanh nghiệp của bạn sẽ trở nên chuyên nghiệp và đáng tin cậy hơn trong mắt khách hàng, biến những người cầm tờ rơi trên tay đó trở thành khách hàng tiềm năng. Tuy nhiên, định lượng vẫn cần phải phù hợp với loại sản phẩm mà bạn hướng đến: ví dụ như định lượng giấy sử dụng cho tờ rơi sẽ khác với định lượng giấy sử dụng cho danh thiếp.
                    .payment-item
                        h4.payment-question Định hướng khách hàng bằng hình ảnh
                        p.payment-answer Hình ảnh là một trong những công cụ hiệu quả nhất để truyền tải thông điệp mà bạn muốn đem đến cho doanh nghiệp. Tuy nhiên, hình ảnh phù hợp thôi chưa đủ, mà hình ảnh còn cần phù hợp với loại giấy mà hình ảnh được in lên, có như vậy mới tạo được niềm tin trong khách hàng. Việc sử dụng loại giấy không phù hợp sẽ có thể thậm chí gây ấn tượng tiêu cực trong khách hàng, nghiêm trọng hơn có thể sẽ ảnh hưởng trực tiếp đến doanh số bán hàng của doanh nghiệp.
                    .payment-item
                        h4.payment-question Lựa chọn hình thức gia công phù hợp
                        p.payment-answer Có rất nhiều hình thức gia công sau in như cắt, bế, dập nổi, cán bóng cán mờ, phủ UV,... và khách hàng có thể lựa chọn theo ý thích. Tuy nhiên, hình thức gia công cũng đóng vai trò quan trọng trong việc thể hiện hình ảnh của sản phẩm in ấn với khách hàng, nên tùy loại gia công sẽ phù hợp với từng sản phẩm và chủ đề nhất định. Hãy tìm kiểu và tham khảo thật kỹ trước khi đưa ra yêu cầu gia công với nhà in nhé. Nếu gặp khó khăn, In đây ròi! sẽ sẵn sàng hỗ trợ bạn giải đáp thắc mắc.
                    .payment-item
                        h4.payment-question Vấn đề về kích cỡ
                        p.payment-answer Bên cạnh chất liệu và định lượng giấy, kích cỡ cũng chính là một trong những yếu tố đặc biệt khiến sản phẩm in ấn của bạn trở nên nổi bật và ấn tượng hơn so với những đối thủ cạnh tranh. Sự mới lạ, khác biệt sẽ là một nhân tố quan trọng giúp kích thích người dùng tìm hiểu sự mới lạ và có xu hướng tìm hiểu thêm về doanh nghiệp của bạn. Tuy vậy nhưng hãy cẩn trọng sự “phá cách”, đừng để việc đó trở thành sự bất tiện cho người dùng khi tiếp cận sản phẩm in ấn của doanh nghiệp nhé. Trên đây In đây rồi! đã đem đến cho bạn những gợi ý nho nhỏ để có thể tăng sự chuyên nghiệp, sang trọng cho sản phẩm in ấn truyền thông của bạn. Hy vọng rằng bài viết đã đem đến cho bạn những thông tin và kiến thức bổ ích.

                    .payment-item
                        h4.payment-question Định dạng giấy ISO 216: chỉ một từ thôi: tiêu chuẩn
                        p.payment-answer Hãy bắt đầu với thứ nhàm chán nhất: tiêu chuẩn ISO 216 phân loại các định dạng giấy khác nhau dựa trên các kích thước của bảng để tạo ra một tiêu chuẩn quốc tế. Điều này cho phép tất cả các quốc gia châu Âu (ở Hoa Kỳ và Canada là các quy tắc định dạng Thư) có thể nói cùng một ngôn ngữ, ít nhất là về các định dạng giấy có liên quan. Theo tiêu chuẩn, các định dạng được tạo ra bằng cách chia một tờ ban đầu mà không để lại bất kỳ chỗ thừa nào. Trong loạt giấy A, phổ biến nhất là tấm A0, có thể được gấp lại và cắt để tạo ra tất cả các định dạng khác trong chuỗi. Nó được gấp như thế nào? Chúng tôi sẽ không giải thích ở đây, bởi vì sau đó mọi thứ sẽ trở nên thực sự nhàm chán. Sau khi đọc xong bài viết, bạn chỉ muốn biết định dạng giấy nào là tốt nhất cho dự án của bạn, phải không?

                .col-md-4.payment-col
                    .payment-img
                        img(src="../../assets/images/info-product/img2.jpg", alt="" width="100%")
                    .payment-img
                        img(src="../../assets/images/info-product/img3.jpg", alt="" width="100%")
                    .payment-img
                        img(src="../../assets/images/info-product/img4.jpg", alt="" width="100%")