section.trusted
    .container
        h1 Tạo nên phong cách riêng của chính mình
        div.testimonials
            div.testimonial
                img(src="../../../dist/assets/images/web/17.jpg", alt=".")
                a(href="#")
                    h3 Thương hiệu
                p Hãy để chúng tôi giúp bạn tạo nên thương hiệu cho chính bạn
                a(href="#")
                    p Xem thêm >
            div.testimonial
                img(src="../../../dist/assets/images/web/18.jpg", alt=".")
                a(href="#")
                    h3 Thương hiệu
                p Hãy để chúng tôi giúp bạn tạo nên thương hiệu cho chính bạn
                a(href="#")
                    p Xem thêm >
            div.testimonial
                img(src="../../../dist/assets/images/web/19.jpg", alt=".")
                a(href="#")
                    h3 Thương hiệu
                p Hãy để chúng tôi giúp bạn tạo nên thương hiệu cho chính bạn
                a(href="#")
                    p Xem thêm >
            div.testimonial
                img(src="../../../dist/assets/images/web/20.jpg", alt=".")
                a(href="#")
                    h3 Thương hiệu
                p Hãy để chúng tôi giúp bạn tạo nên thương hiệu cho chính bạn
                a(href="#")
                    p Xem thêm >