.register-panel
    .title_register-panel(style="margin-bottom:40px;")
        p 
            span or
            | 	Register Here			
        span.flex-right *Required
    form.f-register
        .form-group
            .row-register
                label.col-lg-12.col-md-12.col-sm.col-12.pd-x3(for="postcode" ) Postcode *
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    input(name="postcode" id="postcode" class="form-control")
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3  
                    button(type="button" name="submit_button" class="btn-search-register" style="margin: .5rem 0;")
                        | Find Address
                        <i class="fa fa-lg fa-search" style="margin:0 1rem"></i>
        .form-group.pd-x3
            label(for='business_name') Business Name
            input.form-control(name='business_name', type='text')
        .form-group.pd-x3
            label(for='address_1')
                | Address Line 1
                span.mandatory *
            input#address_1.form-control(name='address_1', type='text', data-parsley-group='block1', required='', data-parsley-trigger='change', value='', data-parsley-id='0355')
            ul#parsley-id-0355.parsley-errors-list
        .form-group(style="margin: 0 -15px;").pd-x3
            .row-register
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='address_2') Address Line 2
                    input.form-control(name='address_2', type='text')
                        
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='post_town')
                        | Post Town
                        span.mandatory *
                    input#posttown.form-control(name='post_town', type='text')
        .form-group.pd-x3
            label(for='county') County
            input.form-control(name='county', type='text')
        .form-group
            .row-register
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='contact_firstname')
                        | First Name
                        span.mandatory *
                    input.form-control(name='contact_firstname', type='text')
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='contact_surname')
                        | Last Name
                        span.mandatory *
                    input.form-control(name='contact_surname', type='text')
            .row-register
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='phone_no') Telephone No.
                    input.form-control(name='phone_no', type='tel')
                .col-lg-6.col-md-12.col-sm-12.col-12.pd-x3
                    label(for='email_address')
                        | E-mail Address
                        span.mandatory *
                    input.form-control(name='email_address', type='email')              
            .form-group.pd-x3
                .checkbox
                    label
                        input(name='doemail', type='checkbox')
                        | Id like to get monthly offers and advice by email




                    

        .form-group(style="flex-wrap:wrap;").pd-x3
            label.col-lg-5.col-md-12.col-sm-3.col-5(for="postcode" ) Country *
            .col-lg-7.col-md-12.col-sm-9.col-7 
                select(name="country_code" class="form-control")
                    option(value='AF') Afghanistan
                    option(value='AL') Albania
                    option(value='DZ') Algeria
                    option(value='AS') American Samoa
                    option(value='AD') Andorra
                    option(value='AO') Angola
                    option(value='AI') Anguilla
                    option(value='AQ') Antarctica
                    option(value='AG') Antigua and Barbuda
                    option(value='AR') Argentina
                    option(value='AM') Armenia
                    option(value='AW') Aruba
                    option(value='AU') Australia
                    option(value='AT') Austria
                    option(value='AZ') Azerbaijan
                    option(value='BS') Bahamas
                    option(value='BH') Bahrain
                    option(value='BD') Bangladesh
                    option(value='BB') Barbados
                    option(value='BY') Belarus
                    option(value='BE') Belgium
                    option(value='BZ') Belize
                    option(value='BJ') Benin
                    option(value='BM') Bermuda
                    option(value='BT') Bhutan
                    option(value='BO') Bolivia
                    option(value='BA') Bosnia and Herzegowina
                    option(value='BW') Botswana
                    option(value='BV') Bouvet Island
                    option(value='BR') Brazil
                    option(value='IO') British Indian Ocean Territory
                    option(value='BN') Brunei Darussalam
                    option(value='BG') Bulgaria
                    option(value='BF') Burkina Faso
                    option(value='BI') Burundi
                    option(value='KH') Cambodia
                    option(value='CM') Cameroon
                    option(value='CA') Canada
                    option(value='CV') Cape Verde
                    option(value='KY') Cayman Islands
                    option(value='CF') Central African Republic
                    option(value='TD') Chad
                    option(value='CL') Chile
                    option(value='CN') China
                    option(value='CX') Christmas Island
                    option(value='CC') Cocos (Keeling) Islands
                    option(value='CO') Colombia
                    option(value='KM') Comoros
                    option(value='CG') Congo
                    option(value='CK') Cook Islands
                    option(value='CR') Costa Rica
                    option(value='HR') Croatia
                    option(value='CU') Cuba
                    option(value='CY') Cyprus
                    option(value='CZ') Czech Republic
                    option(value='DK') Denmark
                    option(value='DJ') Djibouti
                    option(value='DM') Dominica
                    option(value='DO') Dominican Republic
                    option(value='TL') East Timor
                    option(value='EC') Ecuador
                    option(value='EG') Egypt
                    option(value='SV') El Salvador
                    option(value='GQ') Equatorial Guinea
                    option(value='ER') Eritrea
                    option(value='EE') Estonia
                    option(value='ET') Ethiopia
                    option(value='FK') Falkland Islands (Malvinas)
                    option(value='FO') Faroe Islands
                    option(value='FJ') Fiji
                    option(value='FI') Finland
                    option(value='FR') France
                    option(value='GF') French Guiana
                    option(value='PF') French Polynesia
                    option(value='TF') French Southern Territories
                    option(value='GA') Gabon
                    option(value='GM') Gambia
                    option(value='GE') Georgia
                    option(value='DE') Germany
                    option(value='GH') Ghana
                    option(value='GI') Gibraltar
                    option(value='GR') Greece
                    option(value='GL') Greenland
                    option(value='GD') Grenada
                    option(value='GP') Guadeloupe
                    option(value='GU') Guam
                    option(value='GT') Guatemala
                    option(value='GG') Guernsey
                    option(value='GN') Guinea
                    option(value='GW') Guinea-bissau
                    option(value='GY') Guyana
                    option(value='HT') Haiti
                    option(value='HM') Heard and Mc Donald Islands
                    option(value='HN') Honduras
                    option(value='HK') Hong Kong
                    option(value='HU') Hungary
                    option(value='IS') Iceland
                    option(value='IN') India
                    option(value='ID') Indonesia
                    option(value='IR') Iran (Islamic Republic of)
                    option(value='IQ') Iraq
                    option(value='IM') Isle of Man
                    option(value='IL') Israel
                    option(value='IT') Italy
                    option(value='JM') Jamaica
                    option(value='JP') Japan
                    option(value='JE') Jersey
                    option(value='JO') Jordan
                    option(value='KZ') Kazakhstan
                    option(value='KE') Kenya
                    option(value='KI') Kiribati
                    option(value='KR') Korea
                    option(value='KW') Kuwait
                    option(value='KG') Kyrgyzstan
                    option(value='LV') Latvia
                    option(value='LB') Lebanon
                    option(value='LS') Lesotho
                    option(value='LR') Liberia
                    option(value='LY') Libyan Arab Jamahiriya
                    option(value='LI') Liechtenstein
                    option(value='LT') Lithuania
                    option(value='LU') Luxembourg
                    option(value='MO') Macau
                    option(value='MK') Macedonia
                    option(value='MG') Madagascar
                    option(value='MW') Malawi
                    option(value='MY') Malaysia
                    option(value='MV') Maldives
                    option(value='ML') Mali
                    option(value='MT') Malta
                    option(value='MH') Marshall Islands
                    option(value='MQ') Martinique
                    option(value='MR') Mauritania
                    option(value='MU') Mauritius
                    option(value='YT') Mayotte
                    option(value='MX') Mexico
                    option(value='FM') Micronesia, Federated States of
                    option(value='MD') Moldova, Republic of
                    option(value='MC') Monaco
                    option(value='MN') Mongolia
                    option(value='MS') Montserrat
                    option(value='MA') Morocco
                    option(value='MZ') Mozambique
                    option(value='MM') Myanmar
                    option(value='NA') Namibia
                    option(value='NR') Nauru
                    option(value='NP') Nepal
                    option(value='NL') Netherlands
                    option(value='AN') Netherlands Antilles
                    option(value='NC') New Caledonia
                    option(value='NZ') New Zealand
                    option(value='NI') Nicaragua
                    option(value='NE') Niger
                    option(value='NG') Nigeria
                    option(value='NU') Niue
                    option(value='NF') Norfolk Island
                    option(value='MP') Northern Mariana Islands
                    option(value='NO') Norway
                    option(value='OM') Oman
                    option(value='PK') Pakistan
                    option(value='PW') Palau
                    option(value='PA') Panama
                    option(value='PG') Papua New Guinea
                    option(value='PY') Paraguay
                    option(value='PE') Peru
                    option(value='PH') Philippines
                    option(value='PN') Pitcairn
                    option(value='PL') Poland
                    option(value='PT') Portugal
                    option(value='PR') Puerto Rico
                    option(value='QA') Qatar
                    option(value='IE') Republic of Ireland
                    option(value='RE') Runion
                    option(value='RO') Romania
                    option(value='RU') Russian Federation
                    option(value='RW') Rwanda
                    option(value='KN') Saint Kitts and Nevis
                    option(value='LC') Saint Lucia
                    option(value='VC') Saint Vincent and the Grenadines
                    option(value='WS') Samoa
                    option(value='SM') San Marino
                    option(value='ST') Sao Tome and Principe
                    option(value='SA') Saudi Arabia
                    option(value='SN') Senegal
                    option(value='SC') Seychelles
                    option(value='SL') Sierra Leone
                    option(value='SG') Singapore
                    option(value='SK') Slovakia (Slovak Republic)
                    option(value='SI') Slovenia
                    option(value='SB') Solomon Islands
                    option(value='SO') Somalia
                    option(value='ZA') South Africa
                    option(value='GS') South Georgia and the South Sandwich Islands
                    option(value='ES') Spain
                    option(value='LK') Sri Lanka
                    option(value='SH') St. Helena
                    option(value='PM') St. Pierre and Miquelon
                    option(value='SD') Sudan
                    option(value='SR') Suriname
                    option(value='SJ') Svalbard and Jan Mayen Islands
                    option(value='SZ') Swaziland
                    option(value='SE') Sweden
                    option(value='CH') Switzerland
                    option(value='SY') Syrian Arab Republic
                    option(value='TW') Taiwan
                    option(value='TJ') Tajikistan
                    option(value='TZ') Tanzania, United Republic of
                    option(value='TH') Thailand
                    option(value='TG') Togo
                    option(value='TK') Tokelau
                    option(value='TO') Tonga
                    option(value='TT') Trinidad and Tobago
                    option(value='TN') Tunisia
                    option(value='TR') Turkey
                    option(value='TM') Turkmenistan
                    option(value='TC') Turks and Caicos Islands
                    option(value='TV') Tuvalu
                    option(value='UG') Uganda
                    option(value='UA') Ukraine
                    option(value='AE') United Arab Emirates
                    option(value='GB' selected='selected') United Kingdom
                    option(value='UY') Uruguay
                    option(value='US') USA
                    option(value='UM') USA Outlying Islands
                    option(value='UZ') Uzbekistan
                    option(value='VU') Vanuatu
                    option(value='VA') Vatican City State (Holy See)
                    option(value='VE') Venezuela
                    option(value='VN') Viet Nam
                    option(value='VG') Virgin Islands (British)
                    option(value='VI') Virgin Islands (U.S.)
                    option(value='WF') Wallis and Futuna Islands
                    option(value='EH') Western Sahara
                    option(value='YE') Yemen
                    option(value='ZM') Zambia
                    option(value='ZW') Zimbabwe 
        .form-group.pd-x3
            button(type="button" name="submit_button" class="btn-register")
                | Đăng ký 
                <i class="fas fa-sign-in-alt"></i>