section.search
    .container
        .row
            .col-md-6.col-sm-12
                .search-des-left
                    h1
                        span.search-des-left-style Chào mừng đến với Printing.com
                            br
                            .
                                Giá cả hợp lý,
                            br
                            .
                                Bản in sắc nét


                .search-field
                    .search-form-input
                        input(type="text", name="" placeholder="Tìm kiếm sản phẩm").form-search-control
                        span.search-btn-input
                            button.custom-search-btn
                                i.fa.fa-search


                .below-search-field
                    p
                        a.custom-printingprice-btn(href="../../../dist/html/pages/product-page.html") Hoặc bạn muốn xem tất cả sản phẩm >
                    p
                        span.search-small-des
                            span.style-search-small-des với các thiết kế đẹp từ
                            br
                            .
                                local printing.com studios
                    p
                        a(href="#").link-nearest-studio Tìm cữa hàng của chúng tôi gần bạn nhất >
            .col-md-6.col-sm-12
                .style-search-right-content
                    a(href="#")
                        img.style-img-search-right(src="../../assets/images/search/img1.jpg", alt="")
                    span.style-text-search-right
                        a(href="#")
                            span
                                strong GIẢM GIÁ HƠN 50% 
                                .
                                    CHUNG BÀY & TRIỄN LÃM >