.form-sign-in
    .form-content
        form(name="formSignIn").form_content
            label(for="title" class="title-form" style="display:block;text-align:center;") Sign in to your account
            input.form-control(name='username' type='text' placeholder='Username')
            input.form-control(name='password' type='password' placeholder='Password')
            button.btn-sign-in(name='submit_button')
                | Sign In 
                <i class="fas fa-sign-in-alt"></i>
        a(href="#") Forgotten your username and password?


