.tab_prices
    .top-content
        .row
            .col-lg-2.col-md-2.col-sm-12.col-12.hidden-cs
            .col-lg-9.col-md-9.col-sm-12.col-12.px-3
                h6 Bạn chọn:
                p Giấy A4 <br>
                    |8 Trang<br>
                    |Lụa nghệ thuật 100gsm <br>
                    | Màu trong suốt trong toàn bộ quá trình.<br>
                    | Ghi trên góc mã sản phẩm: BK4M08LT
    .pricesTable
        .box.row
            .col-lg-2.col-md-2.col-sm-2.px-3
            .col-lg-3.col-md-3.col-sm-3.col-12.text-center.standby.px-3
                label 
                    input(type="radio" class="show-prices")
                    span(style="margin: 0 5px;") Gói thấp
                p Hoàn thành trong 10 ngày
                p  Mua vào ngày 
                    span 11/09/2019?
                p Thanh toán trong
                    span 20 Phút 20 Giây
            .col-lg-3.col-md-3.col-sm-3.col-12.text-center.normal.px-3
                label 
                    input(type="radio" class="show-prices")
                    span(style="margin: 0 5px;") Gói bình thường
                p Hoàn thành trong 5 ngày
                p  Mua vào ngày 
                    span 04/09/2019?
                p Thanh toán trong 
                    span 20 Phút 20 Giây
            .col-lg-3.col-md-3.col-sm-3.col-12.text-center.xpress.px-3
                label 
                    input(type="radio" class="show-prices")
                    span(style="margin: 0 5px;") Gói siêu nhanh
                p Hoàn thành trong 3 ngày
                p  Mua vào ngày 
                    span 02/09/2019?
                p Thanh toán trong
                    span 20 Phút 20 Giây
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 250
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>    
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 500
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>          
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 750
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>      
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 1000
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>      
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 1250
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>  
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 1500
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>         
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                p 1750
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.standby.px-3
                button £245.73
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.normal.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>
            .col-lg-3.col-md-3.col-sm-12.col-12.text-center.xpress.px-3
                button £273.00
                    <i class="fas fa-cart-plus"></i>  
        .box.row
            .col-lg-2.col-md-2.col-sm-12.col-12.quantity.px-3
                select#more-quantities.input-sm
                    option(value='', selected='selected') Vui lòng chọn
                    option(value='-1') Số lượng khác ...
                    option(value='2000') 2000
                    option(value='2250') 2250
                    option(value='2500') 2500
                    option(value='2750') 2750
                    option(value='3000') 3000
                    option(value='3250') 3250
                    option(value='3500') 3500
                    option(value='3750') 3750
                    option(value='4000') 4000
                    option(value='4250') 4250
                    option(value='4500') 4500
                    option(value='4750') 4750
                    option(value='5000') 5000
                    option(value='10000') 10000
                    option(value='15000') 15000
                    option(value='20000') 20000
                    option(value='25000') 25000
                    option(value='30000') 30000
                    option(value='35000') 35000
                    option(value='40000') 40000
                    option(value='45000') 45000
                    option(value='50000') 50000
                    option(value='55000') 55000
                    option(value='60000') 60000
                    option(value='65000') 65000
                    option(value='70000') 70000
                    option(value='75000') 75000
                    option(value='80000') 80000
                    option(value='85000') 85000
                    option(value='90000') 90000
                    option(value='95000') 95000
                    option(value='100000') 100000
                    option(value='105000') 105000
                    option(value='110000') 110000
                    option(value='115000') 115000
                    option(value='120000') 120000
                    option(value='125000') 125000
                    option(value='130000') 130000
                    option(value='135000') 135000
                    option(value='140000') 140000
                    option(value='145000') 145000
                    option(value='150000') 150000
                    option(value='155000') 155000
                    option(value='160000') 160000
                    option(value='165000') 165000
                    option(value='170000') 170000
                    option(value='175000') 175000
                    option(value='180000') 180000
                    option(value='185000') 185000
                    option(value='190000') 190000
                    option(value='195000') 195000
                    option(value='200000') 200000
                    option(value='205000') 205000
                    option(value='210000') 210000
                    option(value='215000') 215000
                    option(value='220000') 220000
                    option(value='225000') 225000
                    option(value='230000') 230000
                    option(value='235000') 235000
                    option(value='240000') 240000
                    option(value='245000') 245000
                    option(value='250000') 250000
                    option(value='255000') 255000
                    option(value='260000') 260000
                    option(value='265000') 265000
                    option(value='270000') 270000
                    option(value='275000') 275000
                    option(value='280000') 280000
                    option(value='285000') 285000
                    option(value='290000') 290000
                    option(value='295000') 295000
                    option(value='300000') 300000
                    option(value='305000') 305000
                    option(value='310000') 310000
                    option(value='315000') 315000
                    option(value='320000') 320000
                    option(value='325000') 325000
                    option(value='330000') 330000
                    option(value='335000') 335000
                    option(value='340000') 340000
                    option(value='345000') 345000
                    option(value='350000') 350000
                    option(value='355000') 355000
                    option(value='360000') 360000
                    option(value='365000') 365000
                    option(value='370000') 370000
                    option(value='375000') 375000
                    option(value='380000') 380000
                    option(value='385000') 385000
                    option(value='390000') 390000
                    option(value='395000') 395000
                    option(value='400000') 400000
                    option(value='405000') 405000
                    option(value='410000') 410000
                    option(value='415000') 415000
                    option(value='420000') 420000
                    option(value='425000') 425000
                    option(value='430000') 430000
                    option(value='435000') 435000
                    option(value='440000') 440000
                    option(value='445000') 445000
                    option(value='450000') 450000
                    option(value='455000') 455000
                    option(value='460000') 460000
                    option(value='465000') 465000
                    option(value='470000') 470000
                    option(value='475000') 475000
                    option(value='480000') 480000
                    option(value='485000') 485000
                    option(value='490000') 490000
                    option(value='495000') 495000
                    option(value='500000') 500000
                    option(value='-2') Other quantities...
        p(style="font-size: 1.4rem;text-align:right;") Giá này chưa bao gồm VAT
