div(style="margin-top: 50px")
    .container
        .table-heading
            table
                thead
                    tr
                        th Kích thước/Phong cách
                        th
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 6
                        th 7
                        th 8
                        th 9
                        th.last-child
                            select
                                option(value="10") 10
                                option(value="11") 11
                                option(value="12") 12
                                option(value="13") 13
                                option(value="14") 14
                                option(value="15") 15
                tbody
                    tr
                        td Seating cube
                        td("colspan"="12")
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                        td
                            p £155.00
                            span £164.00
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            span.colour-area No graphic
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td
                        td("colspan"="12") CUBE AND FABRIC COVER, FOR INDOORS
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00




div(style="margin-top: 50px")
    .container
        .table-heading
            table
                thead
                    tr
                        th Kích thước/Phong cách
                        th
                        th 250
                        th 500
                        th 1.000
                        th 2.000
                        th 5.000
                        th 10.000
                        th.last-child
                            select
                                option(value="10") 750
                                option(value="11") 1.250
                                option(value="12") 1.500
                                option(value="13") 1.750
                                option(value="14") 2.000
                                option(value="15") 2.500
                tbody
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                    
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                    
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                    
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00

                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00




div(style="margin-top: 50px")
    .container
        .table-heading
            table
                thead
                    tr
                        th Kích thước/Phong cách
                        th
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 6
                        th 7
                        th 8
                        th 9
                        th.last-child
                            select
                                option(value="10") 10
                                option(value="11") 11
                                option(value="12") 12
                                option(value="13") 13
                                option(value="14") 14
                                option(value="15") 15
                tbody
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                            p 1,000 x 1,000mm (1m²)
                                span <i class="fas fa-cog"></i>
                        td("colspan"="12")
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagefront-2.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-2.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                    tr
                        td 1/3rd A4
                            span.text-sp ( 99 x 210mm )
                        td("colspan"="12")
                    tr.border-bottom
                        td
                        td
                            img.img-1(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            img.img-2(src="../../../dist/assets/images/img-table/imagereverse-trans.png", alt="")
                            span.colour-area.text-ps 4 colours :: 6 areas
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00                    
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00
                        td
                            p £155.00