.tab-buy-product
  ul.tab.ul-tab
    li
      a(href='#tab-prices', data-toggle='tab', aria-expanded='true')
        i.fa.fa-calculator
        | Prices
    li
      a(href='#tab-product-summary', data-toggle='tab', aria-expanded='false')
        i.fa.fa-file-alt
        | Product Summary
    li
      a(href='#tab-download', data-toggle='tab', aria-expanded='false')
        i.fa.fa-upload
        | Downloads

  .tab-content
    #tab-prices.tab-item
        include tableBuyproduct_1.pug
    #tab-product-summary.tab-item
        include tableBuyproduct_2.pug
    #tab-download.tab-item
        include tableBuyproduct_3.pug
