section.trusted
    .container
        h1 ĐƯỢC TIN TƯỠNG BỠI HƠN 10000 NHÀ ĐẦU TƯ ĐẾN TỪ UK TRONG SUỐT 12 NĂM QUA…
        div.testimonials
            div.testimonial
                img(src="../../../dist/assets/images/web/1.jpg", alt=".")
                a(href="../../../dist/html/pages/info-product.html")
                    h3 Bao bì chỉ từ £19
                p In ấn bao bì với chất lượng tốt, lên màu đẹp, đúng theo thiết kế và yêu cầu của khách hàng
                a(href="../../../dist/html/pages/info-product.html")
                    p Xem thêm thông tin sản phẩm >
            div.testimonial
                img(src="../../../dist/assets/images/web/2.jpg", alt=".")
                a(href="../../../dist/html/pages/info-product1.html")
                    h3 Thương hiệu £19
                p In ấn bao bì với chất lượng tốt, lên màu đẹp, đúng theo thiết kế và yêu cầu của khách hàng
                a(href="../../../dist/html/pages/info-product1.html")
                    p Xem thêm thông tin sản phẩm >
            div.testimonial
                img(src="../../../dist/assets/images/web/3.jpg", alt=".")
                a(href="../../../dist/html/pages/info-product2.html")
                    h3 In hồ sơ in £19
                p In ấn bao bì với chất lượng tốt, lên màu đẹp, đúng theo thiết kế và yêu cầu của khách hàng
                a(href="../../../dist/html/pages/info-product2.html")
                    p Xem thêm thông tin sản phẩm >
            div.testimonial
                img(src="../../../dist/assets/images/web/4.png", alt=".")
                a(href="../../../dist/html/pages/info-product3.html")
                    h3 Logo £19
                p In ấn bao bì với chất lượng tốt, lên màu đẹp, đúng theo thiết kế và yêu cầu của khách hàng
                a(href="../../../dist/html/pages/info-product3.html")
                    p Xem thêm thông tin sản phẩm >
