<!DOCTYPE html>
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                meta(http-equiv="X-UA-Compatible", content="ie=edge")
                title Document
                link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
                link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
                link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
                link(rel="stylesheet", href="../../../dist/css/styles.css")

        body
                block main-content
                include ../patials/footer.pug
                
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
                script(src="../../../dist/js/navigation.js")
                script(src="../../../dist/js/search.js")
                script(src="../../../dist/js/trusted.js")
                script(src="../../../dist/js/bestSelling.js")
                script(src="../../../dist/js/newProduct.js")
                script(src="../../../dist/js/proper.js")
                script(src="../../../dist/js/choose.js")
                script(src="../../../dist/js/theBigOfThing.js")
                script(src="../../../dist/js/footer.js")

        
        
